
#edit-details-outside {
  position: fixed;
  background-color: #eaedf1;
  height: 100vh; 
  width: 100vw;
}
#notification-detail {
  float: right;
  height: 92%;
  width: 424px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 0;
  margin-top: 1%;
  margin-left: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#notification-icon {
  margin-top: 25%;
  height: 50px;
  width: 50px;
}
#notification-type {
  margin-left: 5%;
  font-family: Lato;
  font-size: 20px;
  letter-spacing: 1.13px;
  color: #b0bac9;
}
#notification-content {
  margin-left: 5%;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  color: #2a4092;
}
#notification-time {
  margin-left: 5%;
  height: 22px;
  font-family: Lato;
  font-size: 12px;
  line-height: 1.83;
  color: #bfc5d2;
}