@import '~antd/dist/antd.css';

/**************************************************************COMPUTER****************************************************/
/**************************************************************COMPUTER****************************************************/
#statistics-row {
  background-color: #eaedf1;
}

#statistics-title {
  margin-top: 1%;
  margin-left:10%;
}
#statistics-explanation, #statistics-description {
  color: #2a4092;
  display: inline; 
}

#leaflet-heat-map {
  height: 80vh;
}

#statistics-map-container {
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#heatmap-explanation {
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  /* color: #7f95a7; */
  color: #2a4092;
}

/**************************************COMPUTER****************************************************************/
/**************************NUMBER*OF*INSTALLATIONS*TOTAL*CAPACITY*********************************************/

#capacity-card-statistics-container {
  padding: 3%;
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
  height: 320px;
  text-align: center;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#tittle-installed {
  font-family: Lato;
  font-size: 1em;
  letter-spacing: 1.49px;
  text-align: center;
  color: #8398aa;
}
#numbers-installed {
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#numbers-total-capacity {
  display: inline;
  text-align: center;
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  color: #2a4092;
}

#big-letters-installed {
  display: inline;
  margin-left: 10px;
  font-family: Montserrat;
  letter-spacing: .27px;
  text-align: center;
  color: #7f95a7;
}
#small-letters-installed {
  margin-top: 5%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}

/********************************************COMPUTER****************************************************************/
/**************************************CLIMATE*OBJECTIVE*************************************************************/

#climate-objective-card-statistics-container {
  padding: 3%;
  margin-top: 5%;
  margin-left: 5%;
  text-align: center;
  width: 90%;
  height: 300px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#numbers-climate-objective {
  display: inline;
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #2a4092;
}
#letters-climate-objective {
  display: inline;
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 1em;
    line-height: 1.42;
    letter-spacing: 0.27px;
    text-align: center;
    color: #2a4092;
     
   }
   #small-letters-climate {
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.08;
    letter-spacing: 0.27px;
    text-align: center;
    color: #7f95a7;
  }

  #div-slider-climate {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .ant-slider-disabled {
    cursor: auto !important;
  }

  .ant-slider-disabled .ant-slider-track {
    background-color: #db4196 !important;
    cursor: auto !important;
}
  /* HOLE RAIL */
  .ant-slider-disabled .ant-slider-rail {
    background-color: #2a4092;
    cursor: auto !important;
  }
  
  /* SELECTED-TRACK */
  .ant-slider-disabled .ant-slider-track .ant-slider-track-1  {
    background-color:#db4196;
    cursor: auto !important;
  }

  /*DOT LEFT AND RIGHT RANGE*/
  .ant-slider-disabled .ant-slider-handle  {
    border: solid 2px #db4196 !important;
    cursor: auto !important;
  }

  /*DOT CENTER RANGE*/
  .ant-slider-disabled .ant-slider-dot .ant-slider-dot-active {
    border: solid 2px #db4196 !important;
    cursor: auto !important;
  }

  /* CURSOR */
  .ant-slider-disabled .ant-slider-handle .ant-slider-handle-1, .ant-slider-dot  {
    cursor: auto !important;
  }

  /* MIDDLE POINTS */
  .ant-slider .ant-slider-with-marks .ant-slider-disabled {
    border: solid 2px #2a4092 !important;
    cursor: auto !important;
  }

  /* EXTREMOS */
  .ant-slider-step .ant-slider-dot {
     border: solid 2px #2a4092 !important;
    cursor: auto !important;
  }

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {

  #leaflet-heat-map {
    height: 80vh;
  }

  #capacity-card-statistics-container {
    padding: 4%;
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    height: 320px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #statistics-map-container {
    margin-top: 10%;
    margin-left: 5%;
    width: 90%;
    height: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #climate-objective-card-statistics-container {
    padding: 3%;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    height: 350px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #heatmap-explanation {
    margin-top: 4%;
    margin-left: 15%;
    width: 90%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.08;
    letter-spacing: 0.27px;
    /* color: #7f95a7; */
    color: #2a4092;
  }

/****************************************TABLET*****************************************************************/
/**********************NUMBER*OF*INSTALLATIONS*TOTAL*CAPACITY*************************************************************/

#tittle-installed {
  margin-top: 5%;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 1.49px;
  text-align: center;
  color: #8398aa;
}
#numbers-installed {
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#big-letters-installed {
 font-family: Montserrat;
 font-size: 1em;
 line-height: 1.42;
 letter-spacing: 0.27px;
 text-align: center;
 color: #7f95a7; 
}
#small-letters-installed {
  margin-top: 5%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}

/********************************************TABLET*****************************************************************/
/**************************************CLIMATE*OBJECTIVE************************************************************/

#div-slider-climate {
  margin-top: 120px;
}
#div-slider-climate-explanation {
  margin-top: 70px;
}
#numbers-climate-objective {
  display: inline;
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#letters-climate-objective {
  display: inline;
  margin-left: 10px;
  font-family: Montserrat;
  font-size: 1em;
  line-height: 1.42;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
#small-letters-climate {
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {

  #statistics-title {
    margin-top: 1%;
    margin-left:4%;
  }
  #statistics-explanation {
    color: #2a4092;
    display: block;
    font-size: 1.5em;
  }
  #statistics-description {
    margin-left: -2%;
    color: #2a4092;
    font-size: 1em;
  }

  #leaflet-heat-map {
    height: 450px;
  }

  #container-cards {
    background-color: #eaedf1;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #capacity-card-statistics-container {
    padding: 2%;
    margin-left: 5%;
    width: 90%;
    height: 300px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #statistics-map-container {
    margin-left: 5%;
    width: 90%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #climate-objective-card-statistics-container {  
    padding: 5%;
    margin-left: 5%;
    text-align: center;
    width: 90%;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #heatmap-explanation {
    margin-top: 4%;
    margin-left: 6%;
    width: 90%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.08;
    letter-spacing: 0.27px;
    /* color: #7f95a7; */
    color: #2a4092;
  }
/*************************************MOBILE*SMALL****************************************************************/
/**********************NUMBER*OF*INSTALLATIONS*TOTAL*CAPACITY******************************************************************/

#tittle-installed {
  margin-top: 5%;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 1.49px;
  text-align: center;
  color: #8398aa;
}
#numbers-installed {
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#big-letters-installed {
 font-family: Montserrat;
 font-size: 1em;
 line-height: 1.42;
 letter-spacing: 0.27px;
 text-align: center;
 color: #7f95a7;
  
}
#small-letters-installed {
  margin-top: 5%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}

/****************************************MOBILE*SMALL****************************************************************/
/**************************************CLIMATE*OBJECTIVE*************************************************************/

#div-slider-climate {
  margin-top: 100px;
  /* margin-left: -5%; */
}
#div-slider-climate-explanation {
  margin-top: 70px;;
}
#numbers-climate-objective {
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#letters-climate-objective {
margin-left: 10px;
  font-family: Montserrat;
  font-size: 1em;
  line-height: 1.42;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
#small-letters-climate {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
}