@import '~antd/dist/antd.css';

/**************************************************************COMPUTER****************************************************/
/**************************************************************COMPUTER****************************************************/
#statistics-row {
  background-color: #eaedf1;
}

#statistics-title {
  margin-top: 1%;
  margin-left:10%;
}
#statistics-explanation, #statistics-description {
  color: #2a4092;
  display: inline; 
}

#leaflet-heat-map {
  height: 80vh;
}

#statistics-map-container {
  margin-top: 3%;
  margin-left: 20%;
  width: 90%;
  height: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#heatmap-explanation {
  margin-top: 2%;
  margin-left: 20%;
  width: 90%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  /* color: #7f95a7; */
  color: #2a4092;
}

/**************************************COMPUTER****************************************************************/
/**************************NUMBER*OF*INSTALLATIONS*TOTAL*CAPACITY*********************************************/

#capacity-card-statistics-container {
  padding: 3%;
  margin-top: 3%;
  margin-left: 15%;
  width: 60%;
  height: 320px;
  text-align: center;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#tittle-installed {
  font-family: Lato;
  font-size: 1em;
  letter-spacing: 1.49px;
  text-align: center;
  color: #8398aa;
}
#numbers-installed {
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#numbers-total-capacity {
  /* float: right; */
  text-align: right;
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  color: #2a4092;
}

#big-letters-installed {
  margin-top: 8px;
  font-family: Montserrat;
  letter-spacing: .27px;
  text-align: center;
  color: #7f95a7;
}
#small-letters-installed {
  margin-top: 5%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}

/********************************************COMPUTER****************************************************************/
/**************************************CLIMATE*OBJECTIVE*************************************************************/

#climate-objective-card-statistics-container {
  padding: 3%;
  margin-top: 5%;
  margin-left: 15%;
  text-align: center;
  width: 60%;
  height: 300px;
  font-size: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#slider-climate-objective {
  margin-top: 8%;
  margin-left: -5%;
}
#measurements-left {
margin-top: 12%;
margin-left: -35%;
}
#measurements-right {
  margin-top: -18.5%;
  margin-left: 40%;
}
#tag {
  height: 40px;
  width: 40px;
  padding-top: 6px;
  padding-left: 0px;
  font-size: 1.5em;
}
#numbers-climate-objective {
  display: inline;
  margin-left: -100px;
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5;
  /* text-align: center; */
  color: #2a4092;
}
#letters-climate-objective {
    margin-top: -30px; 
    margin-left: -10px;
    font-family: Montserrat;
    font-size: 1em;
    line-height: 1.42;
    letter-spacing: 0.27px;
    text-align: center;
    color: #2a4092;
     
   }
   #small-letters-climate {
    margin-left: 110px;
    margin-top: -35px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.08;
    letter-spacing: 0.27px;
    text-align: center;
    color: #7f95a7;
  }
  #slider-climate-objective {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
  }
  
  .ant-slider-track .ant-slider-track-1 {
    background-color: red;
  }

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {

  #leaflet-heat-map {
    height: 80vh;
  }

  /* #background-statistics {
    position: absolute;
    background-color: #eaedf1;
    height: auto; 
    width: 100%;
  } */
  #capacity-card-statistics-container {
    padding: 4%;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 320px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #statistics-map-container {
    margin-top: 10%;
    margin-left: 13%;
    width: 90%;
    height: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #climate-objective-card-statistics-container {
    padding: 3%;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    height: 350px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #heatmap-explanation {
    margin-top: 4%;
    margin-left: 15%;
    width: 90%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.08;
    letter-spacing: 0.27px;
    /* color: #7f95a7; */
    color: #2a4092;
  }

/****************************************TABLET*****************************************************************/
/**********************NUMBER*OF*INSTALLATIONS*TOTAL*CAPACITY*************************************************************/

#tittle-installed {
  margin-top: 5%;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 1.49px;
  text-align: center;
  color: #8398aa;
}
#numbers-installed {
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#big-letters-installed {
 font-family: Montserrat;
 font-size: 1em;
 line-height: 1.42;
 letter-spacing: 0.27px;
 text-align: center;
 color: #7f95a7; 
}
#small-letters-installed {
  margin-top: 5%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}

/********************************************TABLET*****************************************************************/
/**************************************CLIMATE*OBJECTIVE************************************************************/

#slider {
  margin-top: 20%;
  margin-left: 0%;
  width: 95%;
}
#numbers-climate-objective {
  margin-left: 0%;
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#letters-climate-objective {
  margin-top: -13.5%;
  margin-left: 50%;
  font-family: Montserrat;
  font-size: 1em;
  line-height: 1.42;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
#small-letters-climate {
  margin-left: 30%;
  margin-top: -12%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
#measurements-left {
  margin-top: 25%;
  margin-left: -60%;
  }
  #measurements-right {
    margin-top: -28%;
    margin-left: 50%;
  }
  #tag {
    height: 40px;
    width: 40px;
    padding-top: 6px;
    padding-left: 1px;
    font-size: 1.5em;
  }
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {

  #statistics-title {
    margin-top: 1%;
    margin-left:4%;
  }
  #statistics-explanation {
    color: #2a4092;
    display: block;
    font-size: 1.5em;
  }
  #statistics-description {
    margin-left: -2%;
    color: #2a4092;
    font-size: 1em;
  }

  #leaflet-heat-map {
    height: 450px;
  }

  #container-cards {
    background-color: #eaedf1;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #capacity-card-statistics-container {
    padding: 2%;
    margin-left: 5%;
    width: 90%;
    height: 300px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #statistics-map-container {
    margin-left: 5%;
    width: 90%;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #climate-objective-card-statistics-container {  
    padding: 5%;
    margin-left: 5%;
    text-align: center;
    width: 90%;
    height: 271px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #heatmap-explanation {
    margin-top: 4%;
    margin-left: 6%;
    width: 90%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.08;
    letter-spacing: 0.27px;
    /* color: #7f95a7; */
    color: #2a4092;
  }
/*************************************MOBILE*SMALL****************************************************************/
/**********************NUMBER*OF*INSTALLATIONS*TOTAL*CAPACITY******************************************************************/

#tittle-installed {
  margin-top: 5%;
  font-family: Lato;
  font-size: 12px;
  letter-spacing: 1.49px;
  text-align: center;
  color: #8398aa;
}
#numbers-installed {
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#big-letters-installed {
 font-family: Montserrat;
 font-size: 1em;
 line-height: 1.42;
 letter-spacing: 0.27px;
 text-align: center;
 color: #7f95a7;
  
}
#small-letters-installed {
  margin-top: 5%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}

/****************************************MOBILE*SMALL****************************************************************/
/**************************************CLIMATE*OBJECTIVE*************************************************************/

#slider {
  margin-top: 10%;
  margin-left: -5%;
}
#measurements-left {
margin-top: 20%;
margin-left: -45%;
}
#measurements-right {
  margin-top: -27.5%;
  margin-left: 50%;
}
#tag {
  height: 40px;
  width: 40px;
  padding-top: 6px;
  padding-left: 1.5px;
  font-size: 1.5em;
}
#numbers-climate-objective {
  margin-left: 0%;
  opacity: 0.96;
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #2a4092;
}
#letters-climate-objective {
  margin-left: 55%;
  margin-top: -10%;
  font-family: Montserrat;
  font-size: 1em;
  line-height: 1.42;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
#small-letters-climate {
  margin-left: 40%;
  margin-top: -10%;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.08;
  letter-spacing: 0.27px;
  text-align: center;
  color: #7f95a7;
}
}