/************************************************************LEGEND*****************************************************************/
/***COMPUTER************************************************************************************************************************/
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.legend {
  text-align: left;
  line-height: 18px;
  width: 400px;
  height: 80px;
  color: #555;
}

/************************************************************LEGEND**********************************************************/
/***MOBILE************************************************************************************************************************/
@media (min-width: 240px) and (max-width: 575px) {
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
.legend {
  /* text-align: left; */
  margin-left: 5%;
  margin-right: 5%;
  line-height: 18px;
  width: 95vw;
  height: 100px;
  color: #555;
}
}