#public-private-leaflet-map {
  height: calc(100vh - 48px);
}
#leaflet-container {
  margin-top: 0%;
}
#public-private-mapping-popup {
  width: 100%;
  height: 100%;
}
a.leaflet-popup-close-button {
  margin-top: 3%;
  margin-right: 5%;
}
.leaflet-popup-content-wrapper {
  width: 300px;
  height: 400px;
  background-color: white;
}
#like-icon {
  margin: 0%;
  font-size: 1em;
  color: #2a4092;
}
#text-likes {
  font-weight: 600;
  margin-left: 12%;
  margin-top: -7%;
  color:#bfc5d2;
}
#text-likes-checked {
  font-weight: 600;
  margin-left: 12%;
  margin-top: -7%;
  color:#359eff;
}
#number-likes {
  font-weight: 600;
  margin-left: 26%;
  margin-top: -13%;
  color:#bfc5d2;
}
#number-likes-checked {
  font-weight: 600;
  margin-left: 26%;
  margin-top: -13%;
  color:#359eff;
}
#public-private-mapping-installation-name {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.3em;
  width: 300px;
  height: 40px;
  text-align: center;
  color: #2a4092;
  z-index: 1;
  background-color:white;
  opacity: 0.5;
  margin-top: -3%;
  margin-left: -7.5%;
}
#spiner-images {
  margin-top: 10%;
  margin-left: 10%;
  text-align: center;
  font-size: 2em;
}
#div-container-img {
  width: 300px; 
  height: 250px;
}
#container-img {
  width: 300px;
  max-width: 100%;
  margin-top: -3%;
  margin-left: -7.5%;
}
#public-private-mapping-panel-image {
  object-fit: initial;
  width: 300px;
  height: 250px;
  margin-top: 0%;
  margin-left: 0%;
  background-color: #bfc5d2;
}
#public-private-mapping-data-labels { 
  font-weight: 500;
  margin-top: 3%;
  margin-left: -3%;
  color:#bfc5d2;
  text-align: center;
  width: 100px;
  font-size: 9;
  font-family: Montserrat;
}
#public-private-mapping-data-fields {
  margin-left: -3%;
  font-weight: 500;
  color: #2a4092;
  text-align: center;
  width: 100px;
  font-size: 15;
  font-family: Montserrat;
}
#divider-mapping-top {
  top: 3%;
  margin-bottom: -5%;
  margin-left: -7%;
  visibility: hidden;
}
#mapping-button-left {
  margin-top: 1%;
  margin-left: -6%;
  background-color: #2a4092;
  color: #ffffff;
  line-height: 1.5;
  height: 35px;
  width: 135px;
  border-radius: 0;
}
#mapping-button-right {
margin-top: 1%;
margin-left: 2%;
background-color: #db4196;
color: #ffffff;
line-height: 1.5;
height:35px;
width: 135px;
border-radius: 0;
}
#popover {
  background-color:white;
}
#pop-over-content {
  font-weight: 500;
  margin-top: 5%;
  color:
  #2a4092;
  text-align: center;
}
