#leaflet-container {
  margin-top: 0%;
}
#public-private-mapping-popup {
  width: 100%;
  height: 100%;
}

a.leaflet-popup-close-button {
  margin: 1%;
}
.leaflet-popup-content-wrapper {
  width: 350px;
  height: 350px;
  background-color: #eaedf1;
}

#public-private-mapping-installation-name {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.3em;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #2a4092;
  z-index: 1;
  background-color: white;
  opacity: 0.5;
  margin-top: 0%;
  margin-left: 0%;
}
#div-container-img {
  width: 300px;
  object-fit: cover; 
}
#public-private-mapping-no-image-panel{
  width: 300px;
  height: 250px;
  margin-top: 0%;
  margin-left: 0%;
  background-color: white;
}
#public-private-mapping-panel-image {
  justify-content: center;
  max-width:300px;
  height: 250px;
}
#show-panel-divider {
  margin-top: 0%;
  margin-bottom: 0%;
}
#public-private-mapping-data-labels { 
  font-weight: 600;
  margin-top: 3%;
  color:#bfc5d2;
  text-align: center;
}
#public-private-mapping-data-fields {
  font-weight: 600;
  margin-top: 0%;
  color:
  #2a4092;
  text-align: center;
}
#mapping-button-left {
  background-color: #2a4092;
  color: #ffffff;
  line-height: 1.5;
  height: 30px;
  width: 100%;
  border-radius: 0;
}
#mapping-button-right {
background-color: #db4196;
color: #ffffff;
line-height: 1.5;
height:30px;
width: 100%;
border-radius: 0;
}

#popover {
  background-color:wheat;
}
