/* .image-slide {
  height: 100%;
  width: 100%;
  transition: background-image .3s ease-in-out;
}

.slide-arrow {
  color: antiquewhite;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
} */

.ant-carousel.slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel.slick-slide h3 {
  color: #fff;
}