/*************************************************************COMPUTER**************************************************************/
/***COMPUTER************************************************************************************************************************/

#inside-complete-container {
  margin-top: 12%;
  margin-left: 25%;
  margin-right: 25%; 
  padding: 1%;  
}
#col-background {
  background-image: url(../../assets/background.png);
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
#col-background-logo {
  margin-top: 45%;
  margin-left: 25%;
  margin-right: 25%;
 }
#title-register-complete {
  width: 98%;
  font-size: 2.2em;
  font-weight: 1000;
  text-align: left;
  margin-top: 10%;
  line-height: 1.25;
  color: #2a4092;
}
#solar-image {
  margin-top: 5%;
  width: 188px;
  height: 171px;
  object-fit: contain;
}
#text-register-complete {
  text-align: left;
  margin-left: 0;
  margin-top: 10%;
  width: 500px;
  height: 80px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.44px;
  color: #002a54;
}
#button-register-complete {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  width: 60%;
  height: 40px;
  border-radius: 0;
  margin-left: 0%;
  margin-top: 10%;
}
/**************************************************************TABLET*****************************************************************/
/***TABLET************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #inside-complete-container{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%; 
  }
  #title-register-complete {
    width: 100%;
    font-size: 41px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #button-register-complete {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 80%;
    height: 40px;
    border-radius: 0;
    margin-left: 0%;
    margin-top: 10%;
  }
} 
/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #logo-mobile {
    margin-top: 8%;
    margin-left: 5%;
    width: fit-content;  
  }
  #logo-mobile-image {
    margin-left: 5.5%;
    width: 65%;
  }
  #inside-complete-container{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%; 
  }
  #title-register-complete {
    width: 80%;
    margin-top: -3%;
    font-size: 1.6em;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 0%;
  }
  #solar-image {
    margin-top: 3%;
    margin-left: 0%;
  }
  #text-register-complete {
    width: 100%;
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #002a54;
    margin-left: 0;
    margin-top: 5%;
    margin-left: 0%;
    letter-spacing: 0.44px;
  }
  #button-register-complete {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 85%;
    height: 42px;
    border-radius: 0;
    margin-left: 0%;
    margin-top: 0;
  }
}

/**************************************************************ORIENTATION*LANDSCAPE***************************************************************/
/***ORIENTATION*LANDSCAPE***********************************************************************************************************************/

@media (min-width: 240px) and (max-width: 992px) and (orientation: LANDSCAPE) {

}