/*************************************************************COMPUTER**************************************************************/
/***COMPUTER************************************************************************************************************************/
#div-confirm-background {
  margin-left: 10%;
  margin-top: 0%;
  background-color: #f9f9f9;
  width: 60%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#label-confirm {
  display: block;
  width: 98%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.25;
  color: #2a4092;
  background-color: transparent;
  left: 0.5%;
  top: 0.5%;
  z-index: 1;
}
#reset-password-text {
  width: 70%;
  margin-top: 10%;
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#confirm-email, #confirm-password, #confirm-confirm {
  color: #7f95a7;
  width: 100% ;
  height: 100% ;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  margin-left: 0% ;
  top: -15%;
}
#error-confirm-message {
  display: inline-block;
  width: 300px;
  height: 16px;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: 10%;
}
#button-confirm {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  width: 67%;
  height: 40px;
  border-radius: 0;
  margin-left: 0%;
  margin-top: 10%;
}

/**************************************************************TABLET*****************************************************************/
/***TABLET************************************************************************************************************************/
@media (min-width: 600px) and (max-width: 992px) {
  #col-welcome-container {
    height: 100vh; 
  }
  #reset-password-text {
    width: 70%;
    margin-top: 15%;
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #confirm-logo-mobile {
    height: 30%;
    margin-left: 25%;
  }
  #confirm-logo-mobile-image {
    margin-top: 15%;
    width: 45%;
  }
  #div-confirm-background {
    margin-left: 10%;
    margin-top: 0%;
    background-color: #f9f9f9;
    width: 60%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #label-confirm {
    display: block;
    width: 99%;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.25;
    color: #2a4092;
    background-color: #f9f9f9;
    left: 0.5%;
    top: 1%;
    z-index: 1;
  }
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
   #welcome-title-text {
    margin-top: 4%;
  }
  #reset-password-text {
    width: 90%;
    margin-top: 8%;
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #div-confirm-background {
    margin-left: 10%;
    margin-top: 0%;
    background-color: #f9f9f9;
    width: 87%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #button-confirm {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 87%;
    height: 40px;
    border-radius: 0;
    margin-left: 0%;
    margin-top: 5%;
  }
}

/**************************************************************ORIENTATION*LANDSCAPE***************************************************************/
/***ORIENTATION*LANDSCAPE***********************************************************************************************************************/
/* 
@media (min-width: 240px) and (max-width: 992px) and (orientation: LANDSCAPE) {
  
}  */

/**************************************************************ORIENTATION*LANDSCAPE***************************************************************/
/***ORIENTATION*LANDSCAPE***********************************************************************************************************************/
/* @media (width: 600px) and (height: 960px) {
 
} */

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  #confirm-email, #confirm-password, #confirm-confirm { margin-top: -15px!important; } }   

  @-moz-document url-prefix() {
    
    #confirm-email, #confirm-password, #confirm-confirm{ margin-top:-4px !important; }
    }