/*************************************************************COMPUTER**************************************************************/
/***COMPUTER************************************************************************************************************************/

#login-title-text {
  font-size: 41.6px;
  font-weight: 1000;
  text-align: left;
  margin-top: 12%;
  line-height: 1.25;
  color: #2a4092;
}
#input-login-form-fields {
  text-align: left;
  margin-left: -11%;
  margin-top: 6%;
}
#between-inputs {
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: transparent;
}
#div-login-email-background {
  margin-left: 10%;
  margin-top: -1%;
  background-color: #f9f9f9;
  width: 60%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#login-label {
  display: block;
  width: 98%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.24;
  color: #2a4092;
  background-color: transparent;
  left: 1%;
  top: 1%;
  z-index: 1;
}
#login-email, #login-password {
  color: #7f95a7;
  width: 100% ;
  height: 100% ;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  margin-left: 0% ;
  top: -15%;
}
#login-error-message {
  display: inline-block;
  width: 60%;
  height: 16px;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: -0.07px;
  color:red;
  margin-left: 10%;
  margin-top: -10%;
}
#button-login {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  width: 70%;
  height: 40px;
  border-radius: 0;
  margin-left: 0%;
  margin-top: -15%;
}
#link {
  color: #db4196;
}
#footer-divider {
  height: 5px;
  background-color: transparent;
}
#login-text-footer {
  position: absolute;
  height: 1.5rem; /*footer height*/
  clear:both;
  color: #002a54;;
  font-size: 16px;
  left: 26%;
  bottom: 1%;
}
/**************************************************************TABLET*****************************************************************/
/***TABLET************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #login-logo-mobile-image {
    margin-top: 15%;
    width: 45%;
    height: 30%;
    margin-left: 25%;
    margin-bottom: 15%;
  }
  #login-title-text {
    margin-top: 15%;
    font-size: 26.6px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #div-login-email-background {
    margin-left: 10%;
    margin-top: -1%;
    background-color: #f9f9f9;
    width: 60%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #login-label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.25;
    color: #2a4092;
    background-color: transparent;
    left: 1%;
    top: 1%;
  }
  #login-email, #login-password {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    margin-left: 0%;
    margin-top: -1%;
  }
  #button-login {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 40px;
    border-radius: 0;
    margin-left: 0%;
    margin-top: 10%;
  }
  #login-text-footer {
  position: absolute;
  height: 1.5rem; /*footer height*/
  clear:both;
  float: left;
  font-size: 1em;
  bottom: 1%;
  margin-left: 0;
  color: #2a4092;
  font-weight: 500;
  } 
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #row-page-container {
    position: relative;
    min-height: 100vh;
  }
  #login-logo-mobile {
    margin-top: 8%;
    margin-left: 5%;
    width: fit-content;
  }
  #login-logo-mobile-image {
    margin-left: 5.5%;
    width: 65%;
  }
  #login-title-text {
    margin-top: 25%;
    font-size: 26.6px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #div-login-email-background {
    margin-left: 10%;
    margin-top: 5%;
    background-color: #f9f9f9;
    width: 87% !important;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #login-label {
    display: block;
    width: 98%;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.25;
    color: #2a4092;
    background-color: transparent;
    left: 1%;
    top: 5%;
  }
  #login-email, #login-password {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    border-style: solid;
    border-radius: 0;
    margin-left: 0%;
    margin-top: -1%;
  }
  #large-divider {
    margin-top: -10%;
  }
  #button-login {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 42px;
    border-radius: 0;
    margin-top: 0%;
  }
  #login-text-footer {
    position: absolute;
    height: 1.5rem; /*footer height*/
    clear:both;
    text-align: left;
    left: 9%;
    bottom: 0;
    font-size: 14px;
    color: #2a4092;
  } 
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  #login-email, #login-password{ margin-top: -12px!important; } }   

  @-moz-document url-prefix() {
    #login-email, #login-password{ margin-top:-4px !important; }
    }