/*************************************************************COMPUTER**************************************************************/
/***COMPUTER************************************************************************************************************************/

#col-welcome-container {
  height: 100vh; 
  background-image: url(../../assets/left-background.png);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
#inside-welcome-container {
  margin-top: 12%;
  margin-left: 25%;
  margin-right: 25%; 
  padding: 1%;  
}
#col-background {
  background-image: url(../../assets/background.png);
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
#col-background-logo {
  margin-top: 45%;
  margin-left: 25%;
  margin-right: 25%;
 }
#welcome-title-text {
  font-size: 2.2em;
  font-weight: 600;
  text-align: left;
  margin-top: 12%;
  line-height: 1.25;
  color: #2a4092;
}
#input-login-form-fields {
  text-align: left;
  margin-left: -11%;
  margin-top: 6%;
}
#label {
  display: inline-block;
  width: 60%;
  text-align: left;
  margin-left: 0px;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color: #f9f9f9;
  border-bottom: 10px solid #f9f9f9;
  margin-left: 10%;
  margin-bottom: -1%;
}
#between-inputs {
  margin-top: -4%;
  margin-bottom: -4%;
  background-color: transparent;
}
#email, #password, #username, #cofirm-password {
  color: #2a4092;
  width: 60%;
  height: 35px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 2;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-top: 10px solid #f9f9f9;
  border-radius: 0;
  margin-left: 10%;
  margin-top: -1%;
}
#welcome-text-mini {
  margin-top: 5%;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.36px;
  line-height: 1.25;
  color: #2a4092;
}
#error-message {
  display: inline-block;
  width: 60%;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: 10%;
  top: -10%;
}
/*****************************************************RESET*PASSWORD*********/
#reset-password-text {
  width: 70%;
  font-size: 22px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
/*****************************************************RESET*PASSWORD*********/
#welcome-button-container {
  display: flex;
  align-items: start;
}
#button-login {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  width: 65%;
  height: 40px;
  border-radius: 0;
  margin-left: 0%;
  margin-top: -10%;
}
#link {
  color: #db4196;
}
#welcome-text-footer-container{
  /* z-index: 999;
  position: fixed; */
  width: 25%;
  text-align: center;
  bottom: 2%;
}
#login-text-footer {
  /* position: relative;
  z-index: 999; */
  font-size: 1em;
  bottom: 2%;
  left: -10%;
  color: #2a4092;
}

/**************************************************************TABLET*****************************************************************/
/***TABLET************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #col-welcome-container {
    /* height: 100vh; 
    background-image: none; */
    /* margin-top: -20%; */
    background-image: none; 
    height: 100vh;
    width: 100vw;
    padding: 0%;
  }
  #inside-welcome-container {
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%; 
    padding: 0%;  
  }
  #logo-mobile {
    width: 80%;
    margin-left: 0%;
    margin-top: 0%;
  }
  #welcome-title-text {
    margin-top: 15%;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-left: 0px;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color: #f9f9f9;
    border-bottom: 10px solid #f9f9f9;
    margin-left: 10%;
    margin-bottom: -1%;
    margin-top: 8%;
  }
  #email, #password {
    color: #2a4092;
    width: 100%;
    height: 35px;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 2;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
    background-color: #f9f9f9;
    border-top: 10px solid #f9f9f9;
    border-radius: 0;
    margin-left: 10%;
    margin-top: -1%;
  }

  #welcome-text-mini {
    margin-top: 6%;
    width: 90%;
    margin-right: 8%;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.36px;
    line-height: 1.25;
    color: #2a4092;
  }
  #button-login {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 40px;
    border-radius: 0;
    margin-left: 0%;
    margin-top: 10%;
  }
  #welcome-text-footer-container{
    /* z-index: 999;
    position: fixed; */
    width: 100vw;
    bottom: 3%;
  }
  #login-text-footer {
    /* position: relative;
    z-index: 999; */
    font-size: 0.8em;
    bottom: 3%;
    margin-left: -40%;
    width: 100vw;
    color: #2a4092;
  } 
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #col-welcome-container {
    background-image: none; 
    height: 100vh;
    width: 100vw;
    padding: 0%;
  }
  /* #logo-mobile {
    width: 80%;
    margin-top: 8%;
    margin-left: 5%;
  } */
  #inside-welcome-container{
    margin-top: 10%;
    margin-left: 8%;
    margin-right: 8%; 
  }
  #welcome-title-text {
    font-size: 1.6em;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-left: 0px;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color: #f9f9f9;
    border-bottom: 10px solid #f9f9f9;
    margin-left: 10%;
    margin-bottom: -1%;
  }
  #email, #password {
    color: #2a4092;
    width: 100%;
    height: 35px;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 2;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
    background-color: #f9f9f9;
    border-top: 10px solid #f9f9f9;
    border-radius: 0;
    margin-left: 10%;
    margin-top: -1%;
  }
  #welcome-text-mini {
    margin-top: 6%;
    width: 85%;
    margin-right: 8%;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.36px;
    line-height: 1.25;
    color: #2a4092;
  }
  #welcome-button-container {
    display: inline;
  }
  #button-login {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 42px;
    border-radius: 0;
  }
  #login-text-footer {
    /* position: relative;
    z-index: 999; */
    text-align: left;
    font-size: 0.8em;
    bottom: 3%;
    margin-left: 0%;
    width: 200%;
    color: #2a4092;
  } 
}

/**************************************************************MOBILE*EXTRA*SMALL****************************************************************/
/***MOBILE*EXTRA*SMALL**********************************************************************************************************************/

@media (max-width: 240px)  {
  #welcome-text-footer-container{
    /* z-index: 999;
    position: absolute; */
    width: 100%;
    text-align: center;
    bottom: -15%;
  }
  #login-text-footer {
    /* position: relative;
    z-index: 999; */
    font-size: 0.8em;
    bottom: -15%;
    left: 2%;
    width: 80%;
    color: #2a4092;
  } 
}

/**************************************************************ORIENTATION*LANDSCAPE***************************************************************/
/***ORIENTATION*LANDSCAPE***********************************************************************************************************************/

@media (min-width: 240px) and (max-width: 992px) and (orientation: LANDSCAPE) {
  
  #label {
    display: inline-block;
    width: 85%;
    text-align: left;
    margin-left: 0px;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color: #f9f9f9;
    border-bottom: 10px solid #f9f9f9;
    margin-left: 10%;
    margin-bottom: -1%;
    margin-top: 8%;
  }
  #welcome-text-footer-container{
    z-index: 999;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -15%;
  }
  #login-text-footer {
    position: relative;
    z-index: 999;
    font-size: 0.8em;
    bottom: -15%;
    left: -10%;
    width: 80%;
    color: #2a4092;
  } 
} 

