/*************************************************************COMPUTER**************************************************************/
/***COMPUTER************************************************************************************************************************/
#inside-register-container {
  margin-top: 20%;
  margin-left: 25%; 
  margin-right: 25%; 
  padding: 0; 
}

#register-title-text {
  margin-top: 0%;
  font-size: 26.6;
  font-weight: 1000;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}

#div-register-email-background {
  margin-left: 10%;
  margin-top: -1%;
  width: 60%;
  height: 54px;
}
#register-label {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  margin-left: 19%;
  top: 35%;
  z-index: 10;
}
#register-username, #register-email, #register-password, #register-confirm {
  width: 100%;
  height: 100%;
  margin-left: 0%;
  top: -21%;
}
#container-checkbox {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.36px;
  line-height: 1.25;
  margin-left: 10%;
  margin-top: -6%;
  color: #063154;
}
#button-register {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  width: 67%;
  height: 40px;
  border: 0;
  border-radius: 0;
  margin-left: 0%;
  margin-top: 15%;
}
#error-register-message {
  display: inline-block;
  width: 300px;
  height: 16px;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: 10%;
}


/**************************************************************TABLET*****************************************************************/
/***TABLET************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #register-logo-mobile {
    height: 30%;
    margin-left: 25%;
  }
  #register-logo-mobile-image {
    margin-top: 15%;
    width: 45%;
    margin-bottom:15%
  }
  #register-title-text {
    margin-top: 25%;
    font-size: 41.6px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #div-register-email-background {
    margin-left: 10%;
    margin-top: -1%;
    width: 60%;
    height: 54px;
  }
  #register-label {
    position: relative;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    line-height: 0;
    color: #2a4092;
    background-color:transparent;
    margin-left: 19%;
    top: 35%;
    z-index: 10;
  }  
  #register-username, #register-email, #register-password, #register-confirm {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: -1%;
  }

  #container-checkbox {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.36px;
    line-height: 1.25;
    margin-left: 10%;
    margin-top: -4%;
    color: #063154;
  }
  #button-register {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 40px;
    border: 0;
    margin-left: 0%;
    margin-top: 10%;
  }
  #error-register-message {
    display: inline-block;
    width: 300px;
    height: 16px;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.07px;
    color: #ff3b30;
    margin-left: 10%;
  }
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #inside-register-container {
    margin-top: 20%;
    margin-left: 15%; 
    margin-right: 15%; 
    padding: 0; 
  }
  #register-logo-mobile {
    margin-top: 5%;
    margin-left: 5%;
    width: fit-content;
  }
  #register-logo-mobile-image {
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 8%;
    width: 65%;
  }
  #register-title-text {
    margin-top: 25%;
    margin-bottom: 0%;
    font-size: 26.6px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #div-register-email-background {
    margin-left: 10%;
    margin-top: -1%;
    width: 80%;
    height: 54px;
  }
  #register-label {
    position: relative;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    line-height: 0;
    color: #2a4092;
    background-color:transparent;
    margin-left: 35%;
    top: 35%;
    z-index: 10;
  }
  #container-checkbox {
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.36px;
    line-height: 1.25;
    margin-left: 10%;
    margin-top: 0%;
    color: #063154;
  }
  #button-register {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 40px;
    border: 0;
    margin-left: 0%;
    margin-top: 10%;
  }
  #error-register-message {
    display: inline-block;
    width: 80%;
    height: 16px;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: -0.07px;
    color: #ff3b30;
    margin-top: 0%;
    margin-left: 10%;
  }
  
}
