/*************************************************************COMPUTER**************************************************************/
/***COMPUTER************************************************************************************************************************/

#reset-password-text {
  width: 70%;
  margin-top: 15%;
  font-size: 22px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#error-reset-message {
  display: inline-block;
  width: 300px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: 0%;
}
#succes-message {
  width: 60%;
}

/**************************************************************TABLET*****************************************************************/
/***TABLET************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #reset-password-text {
    width: 70%;
    margin-top: 15%;
    font-size: 22px;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #error-reset-message {
    display: inline-block;
    width: 300px;
    height: 16px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 1000;
    letter-spacing: -0.07px;
    color: #ff3b30;
    margin-left: 0%;
  }
  #succes-message {
    width: 95%;
  }
  
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #reset-password-text {
    width: 70%;
    margin-top: 10%;
    font-size: 22px;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #succes-message {
    width: 100%;
  }
}
/**************************************************************MOBILE*EXTRA*SMALL****************************************************************/
/***MOBILE*EXTRA*SMALL**********************************************************************************************************************/

@media (max-width: 240px)  {
  #reset-password-text {
    width: 70%;
    margin-top: 15%;
    font-size: 22px;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #welcome-text-footer-container{
    z-index: 999;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -15%;
  }
  #login-text-footer {
    position: relative;
    z-index: 999;
    font-size: 0.8em;
    bottom: -15%;
    left: 2%;
    width: 80%;
    color: #2a4092;
  } 
}

/**************************************************************ORIENTATION*LANDSCAPE***************************************************************/
/***ORIENTATION*LANDSCAPE***********************************************************************************************************************/

@media (min-width: 240px) and (max-width: 992px) and (orientation: LANDSCAPE) {
  #reset-password-text {
    width: 70%;
    margin-top: 15%;
    font-size: 22px;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #label {
    display: inline-block;
    width: 85%;
    text-align: left;
    margin-left: 0px;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color: #f9f9f9;
    border-bottom: 10px solid #f9f9f9;
    margin-left: 10%;
    margin-bottom: -1%;
    margin-top: 8%;
  }
  #welcome-text-footer-container{
    z-index: 999;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -15%;
  }
  #login-text-footer {
    position: relative;
    z-index: 999;
    font-size: 0.8em;
    bottom: -15%;
    left: -10%;
    width: 80%;
    color: #2a4092;
  } 
} 

