/*****************************************************EDIT*USER*DETAILS*************************************************************/
/*****COMPUTER*****************************************************************************************************************/
#edit-details-outside {
  position: fixed;
  background-color: #eaedf1;
  height: 100vh; 
  width: 100%;
}
#edit-details-menu-inside {
overflow: auto;
float: right;
height: 92%;
width: 424px;
font-family: Montserrat;
color: #2a4092;
padding: 0;
margin-top: 1%;
margin-right: 3%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#edit-details-tittle {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 0%;
  line-height: 1.25;
  color: #2a4092;
}
#div-edit-user-background {
  margin-top: 5%;
  margin-left: 5%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#edit-label {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: 2%;
  top: -15%;
}
#edit-username {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
  padding: 20px 10px 0 5px;
  border-radius: 0;
}
#edit-email {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
  padding: 20px 10px 0 5px;
  border-radius: 0;
}
#turn-notifications {
  display: block;
  width: 80%;
  margin-left: 20%;
  margin-top: 15%;
}
#turn-notifications-text {
  color: #bfc5d2;
  margin-top: -7%;
  margin-left: 25%;
  font-size: 14px;
}
#edit-details-save-button {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:40px;
  width: 90%;
  border-radius: 0;
  border: none;
  margin-left: 5%;
  margin-top: 10%;
}
#enter-email-text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 0%;
  line-height: 1.25;
  color: #2a4092;
}

/**************EDIT*USER*PROFILE*************************************************************/
/***************TABLET*********************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #edit-details-outside {
    position: fixed;
    background-color: #eaedf1;
    height: 100vh; 
    width: 100%;
  }
  #edit-details-menu-inside {
  float: right;
  height: 92%;
  width: 424px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 0;
  margin-top: 1%;
  margin-right: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #edit-details-tittle {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 0%;
    line-height: 1.25;
    color: #2a4092;
  }
  #div-edit-user-background {
    margin-top: 5%;
    margin-left: 5%;
    background-color: #f9f9f9;
    width: 90%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #edit-label {
    position: relative;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    line-height: 0;
    color: #2a4092;
    background-color:transparent;
    left: 2%;
    top: -15%;
  }
  #edit-username {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -71%;
    padding: 20px 10px 0 5px;
    border-radius: 0;
  }
  #edit-email {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -71%;
    padding: 20px 10px 0 5px;
    border-radius: 0;
  }
  #edit-details-save-button {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 90%;
    border-radius: 0;
    border: none;
    margin-left: 5%;
    margin-top: 10%;
  }
}

/**************EDIT*USER*PROFILE*************************************************************/
/***************MOBILE*********************************************************/

@media (min-width: 240px) and (max-width: 600px) {
#edit-details-outside {
  position: fixed;
  background-color: #eaedf1;
  height: 100vh; 
  width: 100%;
}
#edit-details-menu-inside {
  overflow: auto;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  color: #2a4092;
  padding: 0;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#edit-details-tittle {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 0%;
  line-height: 1.25;
  color: #2a4092;
}
#div-edit-user-background {
  margin-top: 5%;
  margin-left: 5%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#edit-label {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: 2%;
  top: -15%;
}
#edit-username {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
  padding: 20px 10px 0 5px;
  border-radius: 0;
}
#edit-email {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
  padding: 20px 10px 0 5px;
  border-radius: 0;
}
#turn-notifications {
  display: block;
  width: 80%;
  margin-left: 20%;
  margin-top: 15%;
}
#turn-notifications-text {
  color: #bfc5d2;
  margin-top: -10%;
  margin-left: 25%;
  font-size: 14px;
}
#edit-details-save-button {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:40px;
  width: 90%;
  border-radius: 0;
  border: none;
  margin-left: 5%;
  margin-top: 10%;
}
}
/***********SUCCSESS*MESSAGES****************/
#sucess-edit-user-message {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: green;
  margin-top: 10%;
  margin-left: 10%;
}

/*******ERROR*MESSAGES********/
#error-edit-user-message {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 16px;
  font-family: Montserrat;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: -0.07px;
  color: red;
  margin-top: 10%;
  margin-left: 0%;
}

/*******************ADJUST*VIEWPORTS********************/

/*CHROME**************************************************************************************/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  /*COMPUTER*CHROME*/
  /* #orientation, #inclination{ margin-top: -12px!important; }
  .ant-select-selection {margin-top: 26px!important;} */

    /*TABLET*CHROME*/
    @media (min-width: 600px) and (max-width: 992px) {
       /* .ant-select-selection {margin-top: -3px !important;} */
    } 

  /*MOBILE*CHROME*/
  @media (min-width: 240px) and (max-width: 600px) { 
    /* #orientation, #inclination{ margin-top: -12px!important; }
    .ant-select-selection {margin-top: -6px!important;}
    #div-inclination-orientation-background {margin-top: 0px;} */
  }

}
  /*FIREFOX*************************************************************************************/
  @-moz-document url-prefix() {
    /*COMPUTER*FIREFOX*/
    #edit-username, #edit-email{ margin-top:-3px!important; }
    

    /*MOBILE*FIREFOX*/
  @media (min-width: 240px) and (max-width: 600px) { 
    }

    /*TABLET*FIREFOX*/
    @media (min-width: 600px) and (max-width: 992px) {
            /* .ant-select-selection {margin-top: -3px!important;} */
    }
}
