@import '~antd/dist/antd.css';

/************************************************************SHOW*PANEL*************************************************/
/***COMPUTER************************************************************************************************************/

#show-panel-card-container {
  z-index: 999;
  position: absolute;
  float: right;
  width: 424px;
  height: 720px;
  /* max-height: 85vh; */
  top: 60px !important;
  right: 50px !important; 
  font-family: Montserrat;
  color: #2a4092;
  padding: 0; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#show-panel-card-image-container {
  width: 424px;
  height: 250px;
  margin-top: -2.25%;
  margin-left: -6.8%;
}

/*********************************************************************SHOW*PANEL***************/
/***COMPUTER***********************************************************************************/

#show-panel-card-tittle {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.8em;
  width: 424px;
  height: 40px;
  text-align: center;
  color: #2a4092;
  z-index: 1;
  background-color: white;
  opacity: 0.5;
  margin-top: -6.8%;
  margin-left: -6.8%;
}
#show-panel-card-tittle:hover {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.8em;
  width: 424px;
  height: 40px;
  text-align: center;
  color: #2a4092;
  z-index: 1;
  background-color: white;
  opacity: 1;
  margin-top: -6.8%;
  margin-left: -6.8%;
}
#show-panel-close-button {
  position: absolute; 
    margin-top: -1.3rem;
    right: -2rem;
    background-color: transparent;
    color: #ff0000;
    opacity: 1;
    font-size: 1rem;
    border: none;
    z-index: 1;
    border-radius: none;
}
#show-panel-user-name {
  margin-top: -2%;
  margin-left: -6.7%;
  width: 424px;
  height: 35px;
  line-height: 2;
  font-weight: 600;
  text-align: center;
  color: #2a4092;
  background-color: #eeeeee
}

/************************************************************SHOW*PANEL**************************************************/
/***TABLET****************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #show-panel-outside {
    position: fixed;
    background-color: #eaedf1;
    height: 100%; 
    width: 100%;
  }
  #show-panel-card-container {
    float: right;
    width: 424px;
    height: 90vh;
    margin-top: 1%;
    right: 2%;  
    font-family: Montserrat;
    color: #2a4092;
    padding: 0; 
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #show-panel-card-image-container {
    width: 424px;
    height: 260px;
    margin-top: -1.5rem;
    margin-left: -1.6rem;
  }

  /*******************************************************************SHOW*PANEL***************/
  /***TABLET***********************************************************************************/
  
  #show-panel-card-tittle {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    line-height: 2.5em;
    width: 424px;
    height: 40px;
    text-align: center;
    color: #2a4092;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
    margin-top: -1.5rem;
    margin-left: -1.6rem;
  }
  #show-panel-close-button {
    position: absolute; 
    margin-top: -1.3rem;
    right: -1.5rem;
    background-color: transparent;
    color: #ff0000;
    opacity: 1;
    font-size: 1rem;
    border: none;
    z-index: 1;
    border-radius: none;
  }
  #show-panel-user-name {
    margin-top: -2%;
    margin-left: -6.7%;
    width: 424px;
    height: 35px;
    line-height: 2;
    font-weight: 600;
    text-align: center;
    color: #2a4092;
    background-color: #eeeeee
  }
}

/************************************************************SHOW*PANEL**************************************************/
/***MOBILE***************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #show-panel-outside {
    position: fixed;
    background-color: #eaedf1;
    height: 100vh; 
    width: 100%;
  }
  #show-panel-card-container {
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    margin-top: 0.1rem;
    right: 0%;  
    font-family: Montserrat;
    color: #2a4092;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #show-panel-card-image-container {
    width: 100vw;
    height: 210px;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
  }
  /**************************************************************************SHOW*PANEL***************/
  /***MOBILE***********************************************************************************/
  
  #show-panel-card-tittle {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    line-height: 2em;
    width: 100vw;
    height: 2rem;
    text-align: center;
    color: #2a4092;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
    margin-top: -1.6rem;
    margin-left: -1.5rem;
  }
  #show-panel-close-button {
    position: absolute; 
    margin-top: -1.5rem;
    right: -1.5rem;
    background-color: transparent;
    color: #ff0000;
    opacity: 1;
    font-size: 1em;
    border: none;
    z-index: 1;
    border-radius: none;
  }
  #show-panel-user-name {
    margin-top: -2%;
    margin-left: -8%;
    width: 100%;
    height: 35px;
    line-height: 2;
    font-weight: 600;
    text-align: center;
    color: #2a4092;
    background-color: #eeeeee
  }
}

/*****************************************************DATA*************************************************/

#show-panel-divider {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: -6%;
  width: 112%;
}
/*CARD*/
#show-panel-data-labels-card {
  font-weight: 500;
  color: #bfc5d2;
  font-size: 9px;
  margin-top: -5%;
}
#show-panel-data-fields {
  font-family: Montserrat;
  margin-top: -2%;
  font-weight: 500;
  color: #2a4092;
  font-size: 15px;
  text-align: center;
}
/*FIRST*/
#show-panel-data-labels-first {
  font-weight: 500;
  color: #bfc5d2;
  font-size: 10px;
  margin-top: 0%;
}
#show-panel-data-fields-first {
  margin-top: -2%;
  font-weight: 500;
  color: #2a4092;
  font-size: 15px;
  text-align: center;
}
/*SECOND*/
#show-panel-data-labels-second {
  margin-top: 2%;
  font-weight: 500;
  color: #bfc5d2;
  font-size: 10px;
}
#show-panel-data-fields-second {
  margin-top: -2%;
  font-weight: 500;
  color: #2a4092;
  font-size: 15px;
}
/*THIRD*/
#show-panel-data-labels-third {
  margin-top: 2%;
  font-weight: 500;
  color: #bfc5d2;
  font-size: 10px;
}
#show-panel-data-fields-third {
  margin-top: -2%;
  font-weight: 500;
  color: #2a4092;
  font-size: 15px;
  text-align: center;
}