@import '~antd/dist/antd.css';

#chat-panel-exterior-background {
  position: fixed;
  background-color: #eaedf1;
  height: 100vh; 
  width: 100vw;
}
#chat-panel-container {
  position: absolute;
  margin-left: 40%;
  height: 92%;
  width: 424px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 0;
  margin-top: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#chat-panel-tittle {
  position: absolute;
  font-size: 18px;
  padding-top: 5px;
  font-weight: 500;
  line-height: 1.5em;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #2a4092;
  z-index: 1;
  background-color: white;
  opacity: 0.5;
  margin-top: 0%;
  margin-left: 0%;
}
#chat-panel-close-button{
  position: absolute;
  top: 5%;
  right: 2%;
  background-color: transparent;
  color: red;
  border: none;
}
#installation-image {
  width: 100%;
  height: 100%;
}
/* #chat-panel-user-name {
  margin-top: 1%;
  margin-left: -6.5%;
  width: 422.5px;
  height: 35px;
  padding-top: 3px;
  text-align: center;
  color: #2a4092;
  background-color: #eeeeee
} */
#show-panel-divider {
  margin-top: 0%;
  margin-bottom: 0%;
}
#installation-text-fields { 
  padding: 0%;
  margin: 1%;
}
#show-panel-data-fields {
  margin-top: -11%;
  color:
  #2a4092;
  text-align: center;
}
#show-panel-data-fields-second {
  margin-top: -8%;
  color: #2a4092;
  text-align: center;
}
#chat-panel-data-labels-third {
    margin-top: 0.5%;
    color: #bfc5d2;
    text-align: center;
}
#show-panel-data-fields-third {
  margin-top: -3%;
  color: #2a4092;
  text-align: center;
}
#button-container-show-panel {
  margin-top: 7%;
  margin-left: 10%;
}
#show-panel-edit-button {
  background-color: #2a4092;
  color: #ffffff;
  line-height: 1.5;
  height: 40px;
  width: 150px;
  border-radius: 0;
}
#show-panel-save-button {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:40px;
  width: 150px;
  border-radius: 0;
}
