/***************************************************************FINISHED*PANEL*************************************************************/
/***FINISHED*PANEL************************************************************************************************************************/

#tittle-finished-panel {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  line-height: 1.25;
  color: #2a4092;
}
#solar-panel {
  margin-top: 0%;
  margin-left: 0%;
}
#text-finished-panel-registration {
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
#add-another-installation {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  color: #db4196;
  margin-top: 5%;
  margin-left: 0%;
  margin-right: 1%;
}
#button-panel-finish-next {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 50%;
  height:40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 0%;
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #card-panel-register-inside {

    width: 100vw;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;  
  }
  #tittle-panel-registration {
    color: #2a4092;
    font-size: 18px;
    text-align: left;
    margin-top: 1%;
    line-height: 1.25;
  }
  #solar-panel {
    margin-top: -2%;
    margin-left: 0%;
  }
  #text-finished-panel-registration {
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  }
  #add-another-installation {
    font-size: 16px;
    text-align: center;
    line-height: 1.25;
    color: #db4196;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 1%;
  }
  #button-panel-finish-next {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 50%;
    height:40px;
    border-radius: 0;
    border: none;
    margin-left: 0%;
    margin-top: 0%;
  }
}

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #card-panel-register-inside {

    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;  
  }
  #pagination {
    margin-top: 2%;
  }
  #pagination-bullet {
    margin-left: 1%;
  }
  #tittle-panel-registration {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5%;
    line-height: 1.25;
    color: #2a4092;
  }
  #text-panel-registration {
    font-size: 18px;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  #col-register-panel-fields {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -6%;
  }
  #register-panels-button-container-first {
    margin-top: -2%;
  }
  #button-panel-register-next-first {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 55%;
    border-radius: 0;
    border: none;
    margin-left: 0%;
    margin-top: 5%;
  }
}#background-panel-register {
  position: absolute;
  background-image: url(../../assets/panels.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#card-panel-register-inside {

  width: 40%;
  margin-top: 3%;
  margin-left: 30%;
  font-family: Montserrat;
  background-color: white;
  text-align: center;  
}
#pagination {
  margin-top: 0%;
}
#pagination-bullet {
  margin-left: 1%;
}
#tittle-panel-registration {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  line-height: 1.25;
  color: #2a4092;
}
#button-panel-register-next-first {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:40px;
  width: 40%;
  border-radius: 0;
  border: none;
}/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #card-panel-register-inside {

    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;  
  }
  #pagination {
    margin-top: 2%;
  }
  #pagination-bullet {
    margin-left: 1%;
  }
  #tittle-panel-registration {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5%;
    line-height: 1.25;
    color: #2a4092;
  }
  #text-panel-registration {
    font-size: 18px;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  #col-register-panel-fields {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -6%;
  }
  #button-panel-register-next-first {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 55%;
    border-radius: 0;
    border: none;
    margin-left: 0%;
    margin-top: 5%;
  }
}



/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #card-panel-register-inside {

    width: 100vw;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;  
  }
  #pagination {
    margin-top: -1%;
  }
  #pagination-bullet {
    margin-left: 1%;
  }
  #tittle-panel-registration {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-top: 3%;
    line-height: 1.25;
    color: #2a4092;
  }
  #text-panel-registration {
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: -1%;
    margin-bottom: -1%;
  }
  #button-panel-register-next-first {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 95%;
    border-radius: 0;
    border: none;
    margin-left: -3%;
  }
}