@import '~antd/dist/antd.css';

#card-panel-register-inside {
  width: 600px;
  height: 700px;
  margin-top: 3%;
  margin: 0 auto;
  font-family: Montserrat;
  background-color: white;
  text-align: center;  
}
#pagination {
  margin-top: 0%;
}
#pagination-bullet {
  margin-left: 1%;
}
#tittle-panel-registration {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  line-height: 1.25;
  color: #2a4092;
}
#forms-close-button {
float: right; 
margin-top: -5%;
margin-right: -2%;
line-height: 2.7em;
background-color: transparent;
color: #ff0000;
opacity: 1;
font-size: 1.5em;
border: none;
box-shadow: none;
z-index: 1;
border-radius: none;
}
/* #error-message {
  display: inline-block;
  width: 60%;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: red;
  left: 0%;
  margin-top: 0% !important;
} */
.ant-radio.label {
  color: #db4196 !important;
}  
.ant-radio .ant-radio-inner {
  border-color: #db4196 !important;
}  
.ant-radio-checked .ant-radio-inner {
  border-color: #db4196 !important;
  /* color: #db4196 !important; */
  /* background-clip: content-box !important; */
}  

/***************************************************************FIRST*FORM*************************************************************/
/***COMPUTER************************************************************************************************************************/

#text-panel-registration {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 1%;
  margin-bottom: -1%;
}
#col-register-panel-fields {
  margin-top: 5%;
  margin-right: -3%;
}
#col-commissioning-date {
  margin-top: 4.5%;
}
#div-electrical-background {
  margin-top: 0%;
  margin-left: 5%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-input-label-electrical_capacity, #panel-input-label-surface, #panel-input-label-commissioningDate{
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -20%;
  top: -15%;
  float: left;
  line-height: inherit;
  left: 5px;
}
#electrical_capacity {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
  padding: 20px 10px 0 5px;
  border-radius: 0;
}
#div-surface-background {
  margin-top: 0%;
  margin-left: 12%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#surface {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
}
#div-date-background {
  margin-top: 1%;
  margin-left: 20%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
.ant-calendar-picker-input {
  color: #7f95a7;
  width: 177px;
  height: 52px;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 10px 0 3px;
  border-radius: 0;
  background-color: transparent;
}
#commissioningDate {
  /* width: 100%; */
  padding: 20px 10px 0 0;
  left: 0%;
  top: -106%;
}
#div-inverter-background {
  width: 260px;
  margin-top: 0.25%;
  margin-left: 3%;
  margin-right: 20px;
  background-color: #f9f9f9;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-input-label-inverter {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -32%;
  top: -15%;
}
#panel-input-label-type {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -33%;
  top: -15%;
}
#inverter-capacity {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
}
#div-installation-background-firstform {
  margin-top: 0%;
  margin-left: 0%;
  background-color: #f9f9f9;
  width: 87%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  margin-left: 20px;
}
#installation-type {
  color: #7f95a7;
  width: 100% !important;
  height: 62px !important;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 10px 0 0;
  border-radius: 0;
  top: -100%;
  left: 1%;
}
.ant-select-selection {
  color: #7f95a7; 
  width: 100% !important;
  height: 52px !important;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 0 0 0;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -40px;
}
#div-subtittle {
  margin-left: 2%;
  margin-top: 0%;
}
#subtittle-panel-registration {
  font-size: 16px;
  font-weight: 1000;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#image-col {
  margin-right: 0px;
}
#image-col-large {
  margin-left: 0px;
}
#radio-label-row {
  min-height: 50px;
  margin-top: 10px;
}
#radio-button-row {
  min-height: 10px;
  top: -10px;
}
#technology-used {
  margin-left: -1%;
  width: 100%;
  }
#images-tech-us {
  object-fit: fill;
  height: 175px;
  width: 175px;
  max-height: 100%;
  margin-top: 1%;
  left: 0%;
  margin-right: 0%;
  padding: 1%;
  border: 1px solid #cdced7;
}
#images-tech-us-large {
  object-fit: fill;
  height: 175px;
  width: 175px;;
  max-height: 100%;
  margin-top: 1%;
  left: 0%;
  padding: 3%;
  border: 1px solid #cdced7;
}
#label-radio-button {
 margin-left: -5%;
 font-size: 0.9em;
 color: #7f95a7;
}
#button-panel-register-next-first {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:40px;
  width: 55%;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 1%;
}

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 1023px) {
.ant-calendar-picker-input {
    color: #7f95a7;
    width: calc((100vw / 3) - 5em );
    height: 52px;
    font-family: Montserrat;
    font-size: 14px;
    padding: 20px 10px 0 3px;
    border-radius: 0;
    border: none;
    background-color: transparent;
  }
#commissioningDate {
    /* width: 10%; */
    padding: 20px 10px 0 0;
    left: 0%;
    margin-top:-1px;
  }
#card-panel-register-inside {
    width: 100%;
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;  
}
#pagination {
    margin-top: 2%;
}
#pagination-bullet {
    margin-left: 1%;
}
#tittle-panel-registration {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5%;
    line-height: 1.25;
    color: #2a4092;
}
#text-panel-registration {
    font-size: 18px;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 2%;
    margin-bottom: 1%;
}
#col-register-panel-fields {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -6%;
}
#div-electrical-background {
    margin-top: 0%;
    margin-left: -7%;
    background-color: #f9f9f9;
    width: 80%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#div-surface-background {
  margin-top: -0%;
  margin-left: -5%;
  background-color: #f9f9f9;
  width: 80%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#div-date-background {
  margin-top: 0%;
  margin-left: 5%;
  background-color: #f9f9f9;
  width: 80%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-input-label-inverter {
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.25;
    color: #2a4092;
    background-color:transparent;
    left: -33%;
    top: -22%;
}
#panel-input-label-type {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.25;
  color: #2a4092;
  background-color:transparent;
  left: 3%;
  top: 6%;
}
#panel-input-label-electrical_capacity, #panel-input-label-surface, #panel-input-label-commissioningDate{
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -20%;
  top: -16%;
  float: left;
  line-height: inherit;
  left: 5px;
}
#electrical_capacity {
  color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -68%;
}
#surface {
  color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -68%;
}
#div-inverter-background {
  margin-top: 0%;
  margin-left: 5%;
  background-color: #f9f9f9;
  width: 80%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#inverter-capacity {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 0;
  background-color: transparent;
  border-radius: 0;
  top: -71%;
  left: 0%;
}
#div-installation-background-firstform {
  margin-top: 0%;
  margin-left: 10%;
  background-color: #f9f9f9;
  width: 80%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#installation-type {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 0;
  top: -103%;
  left: 0%;
}
.ant-select-selection {
  color: #7f95a7;
  width: 100%;
  height: 52px ;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 0 0 0;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -13px;
}
#col-commissioning-date {
  margin-top: 3%;
  margin-left: 2%;
}
#div-subtittle {
  margin-left: -1%;
  margin-top: -2%;
}
#subtittle-panel-registration {
    font-size: 14px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 4%;
    margin-top: 2%;
}
#technology-used {
    margin-left: 1.5%;
}
#image-col {
  margin-right: -16px;
}
#image-col-large {
  margin-left: -15px;
}
#radio-label-row {
  min-height: 50px;
  margin-top: 10px;
}
#radio-button-row {
  min-height: 10px;
  top: -15px;
}
#images-tech-us {
  object-fit: fill;
  height: 225px;
  width: 225px;
  max-height: 100%;
  max-width: 100%;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 1%;
  border: 1px solid #cdced7;
}
#images-tech-us-large {
  object-fit: fill;
  height: 225px;
  max-height: 100%;
  width: 225px;
  max-width: 100%;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 5%;
  border: 1px solid #cdced7;
}
#label-radio-button {
 margin-left: -5%;
 font-size: 0.9em;
 color: #7f95a7;
}
#button-panel-register-next-first {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 55%;
    border-radius: 0;
    border: none;
    margin-left: 0%;
    margin-top: 3%;
}
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
 
#card-panel-register-inside {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;
    overflow: auto;  
}
#pagination {
    margin-top: -1%;
}
#pagination-bullet {
    margin-left: 1%;
}
#tittle-panel-registration {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-top: 3%;
    line-height: 1.25;
    color: #2a4092;
}
#text-panel-registration {
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: -1%;
    margin-bottom: -1%;
}
#col-register-panel-fields {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: -2%;
}
#div-electrical-background {
    margin-top: 5%;
    margin-left: -4%;
    background-color: #f9f9f9;
    width: 90%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#panel-input-label-electrical_capacity, #panel-input-label-surface{
  position: relative;
  width: 100%;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  margin-left: -4%;
  top: -15%;
  line-height: inherit;
  left: 10px;
}
#panel-input-label-commissioningDate {
  position: relative;
  width: 100%;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  margin-left: -2%;
  top: -15%;
  line-height: inherit;
  left: 10px;
}
#electrical_capacity {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 2;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -68%;
}
#div-surface-background {
    margin-top: 5%;
    margin-left: 5%;
    background-color: #f9f9f9;
    width: 90%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#surface {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -68%;
}
.ant-calendar-picker-input {
  color: #7f95a7;
  width: calc(100vw - 48px);
  height: 52px;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 0 0 6px;
  border-radius: 0;
  left: 0%;
  background-color: transparent;
}
#div-date-background {
  margin-top: 8%;
  margin-left: 0%;
  background-color: #f9f9f9;
  width: 100%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#div-inverter-background {
  margin-top: 2%;
  margin-left: 0%;
  background-color: #f9f9f9;
  width: 100%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-input-label-inverter {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  color: #2a4092;
  background-color:transparent;
  left: -33%;
  top: -15%;
}
#inverter-capacity {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 0;
  background-color: transparent;
  border-radius: 0;
  top: -71%;
  left: 0%;
}
#div-installation-background-firstform {
  margin-top: 1% ;
  margin-left: 1% ;
  background-color: #f9f9f9;
  width: 100%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-input-label-type {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -35%;
  top: -15%;
}
#installation-type {
 /* color: #7f95a7;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.6; 
  border-radius: 0; */
  top: -80px;
  left: 0%;
  width: 100%;
  /* height: 52px;  */
 } 
.ant-select-selection {
  color: #7f95a7;
  /* width: 353px !important; */
  /* height: 52px !important; */
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 0 0 0;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  /* top: -40px; */
}
#col-commissioning-date {
  margin-top: -11%;
}
#div-subtittle {
  margin-left: 0%;
  margin-top: 5%;
}
#subtittle-panel-registration {
    font-size: 16px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 0%;
    margin-top: -6%;
}
#technology-used {
  width: 100%;
  margin-left: -1%;
}
#images-tech-us {
  object-fit: fill;
  height: 25vw;
  width: 100%;
  max-height: 100%;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 5%;
  border: 1px solid #cdced7;
}
#images-tech-us-large {
  object-fit: fill;
  height: 216px;
  width: 100%;
  max-height: 25vw;
  margin-top: 1%;
  margin-left: -2%;
  margin-right: 0%;
  padding: 5%;
  border: 1px solid #cdced7;
}
#label-radio-button {
 margin-left: -5%;
 font-size: 0.9em;
 color: #7f95a7;
}
#button-panel-register-next-first {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 55%;
    border-radius: 0;
    border: none;
    margin-top: 5%;
    margin-left: -3%;
}
}

/*******************ADJUST*VIEWPORTS********************/
/*CHROME****************************************************************************************/
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  /*COMPUTER*CHROME*/
  .ant-input{ margin-top: -3px!important; }

   /*TABLET*CROME*/
   @media (min-width: 600px) and (max-width: 992px) {
    .ant-select-selection {top: -32px !important;}
  }

  /*MOBILE*CHROME*/
  @media (min-width: 240px) and (max-width: 600px) {
    .ant-select {
      margin-top: 4px!important;
      margin-left: 1px;
      /* width: 268px !important; */
      }
    }
}   

/*FIREFOX****************************************************************************/
@-moz-document url-prefix() {
    /*COMPUTER*FIREFOX*/
    .ant-input {
       margin-top:-4px!important; 
      }
    #div-inverter-background {
      height: 53px!important;
      }
      /*MOBILE*FIREFOX*/
    @media (min-width: 240px) and (max-width: 600px) { 
      .ant-select {
         margin-top: 4px!important;
         /* width: 266px !important; */
         }
     }
  
}
