@import '~antd/dist/antd.css';

#background-panel-register {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets//panels.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#card-panel-register-inside {
  width: 40%;
  margin-top: 3%;
  margin-left: 30%;
  font-family: Montserrat;
  background-color: white;
  text-align: center;  
}
#pagination {
  margin-top: 0%;
}
#pagination-bullet {
  margin-left: 1%;
}
#tittle-panel-registration {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  line-height: 1.25;
  color: #2a4092;
}
#forms-close-button {
float: right; 
margin-top: -5%;
margin-right: -2%;
line-height: 2.7em;
background-color: transparent;
color: #ff0000;
opacity: 1;
font-size: 1.5em;
border: none;
box-shadow: none;
z-index: 1;
border-radius: none;
}
#error-message {
  display: inline-block;
  width: 60%;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: red;
  left: 0%;
  margin-top: 0% !important;
}
.ant-calendar-picker-input {
  left: 0%;
  top: 0%;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  background-color:red;
  border: none;
}

/***************************************************************FIRST*FORM*************************************************************/
/***COMPUTER************************************************************************************************************************/

#text-panel-registration {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 1%;
  margin-bottom: -1%;
}
#col-register-panel-fields {
  margin-top: 5%;
  margin-right: -3%;
}
#col-commissioning-date {
  margin-top: 4.5%;
}
#div-electrical-background {
  margin-top: 0%;
  margin-left: 5%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-input-label {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -20%;
  top: -15%;

}
#panel-input-label-electrical_capacity, #panel-input-label-surface, #panel-input-label-commissioningDate{
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -20%;
  top: -15%;
  float: left;
  line-height: inherit;
  left: 10px;
}
/* #panel-input-label-2 {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -20%;
  top: -15%;
} */
#electrical_capacity {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
  padding: 20px 10px 0 5px;
  border-radius: 0;
}
#div-surface-background {
  margin-top: 0%;
  margin-left: 12%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#surface {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
}
#div-date-background {
  margin-top: 1%;
  margin-left: 20%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
.ant-calendar-picker-input {
  left: 0%;
  top: 0%;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  background-color:transparent;
  border: none;
} 
#commissioningDate {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 0;
  background-color: transparent;
  border-radius: 0;
  left: -2%;
  top: -71%;
}
#div-inverter-background {
  margin-top: 3%;
  margin: 0 auto;
  background-color: #f9f9f9;
  width: 200px;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#inverter-capacity {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -71%;
}
#div-installation-background-firstform {
  top: 0%;
  left: 15%;
  margin: 0 auto!important;
  background-color: #f9f9f9;
  width: 200px;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#installation-type {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 0;
  border-radius: 0;
  top: -71%;
  left: 0%;
}
#div-subtittle {
  margin-left: 2%;
  margin-top: 0%;
}
#subtittle-panel-registration {
  font-size: 16px;
  font-weight: 1000;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#col-radio-button {
  width: auto;
  margin-left: 1%;
}
#technology-used {
  margin-left: -1%;
  width: 100%;
  }
#images-tech-us {
  object-fit: fill;
  height: 175px;
  width: 175px;
  max-height: 100%;
  margin-top: 1%;
  left: 0%;
  margin-right: 0%;
  padding: 1%;
  border: 1px solid #cdced7;
}
#images-tech-us-large {
  object-fit: fill;
  height: 175px;
  width: 175px;;
  max-height: 100%;
  margin-top: 1%;
  left: 0%;
  padding: 3%;
  border: 1px solid #cdced7;
}
#label-radio-button {
 margin-left: -5%;
 font-size: 0.9em;
 color: #7f95a7;
}
#button-panel-register-next-first {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:40px;
  width: 55%;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 6%;
}

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
#card-panel-register-inside {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;  
}
#pagination {
    margin-top: 2%;
}
#pagination-bullet {
    margin-left: 1%;
}
#tittle-panel-registration {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5%;
    line-height: 1.25;
    color: #2a4092;
}
#text-panel-registration {
    font-size: 18px;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 2%;
    margin-bottom: 1%;
}
#col-register-panel-fields {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -6%;
}
#div-electrical-background {
    margin-top: 0%;
    margin-left: -7%;
    background-color: #f9f9f9;
    width: 85%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#panel-input-label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color:transparent;
    left: 4%;
    top: -22%;
}

#panel-input-label-electrical_capacity, #panel-input-label-surface, #panel-input-label-commissioningDate{
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -20%;
  top: -15%;
  float: left;
  line-height: inherit;
  left: 10px;
}
#electrical_capacity {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -68%;
}
#div-surface-background {
    margin-top: -0%;
    margin-left: -5%;
    background-color: #f9f9f9;
    width: 85%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#surface {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -68%;
}
#div-date-background {
    margin-top: 0%;
    margin-left: 5%;
    background-color: #f9f9f9;
    width: 87%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#commissioningDate {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 0;
  background-color: transparent;
  border-radius: 0;
  left: -2%;
  top: -71%;
}
#div-inverter-background {
  margin-top: 3%;
  margin-left: 35%;
  background-color: #f9f9f9;
  width: 200px;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-input-label-inverter {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:transparent;
  left: 0%;
  top: 0%;
}
#inverter-capacity {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 0;
  background-color: transparent;
  border-radius: 0;
  top: -71%;
  left: 0%;
}
#div-installation-background-firstform {
  margin-top: 0%;
  margin-left: 10%;
  background-color: #f9f9f9;
  width: 200px;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#installation-type {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 0;
  top: -71%;
  left: 0%;
}
#col-commissioning-date {
  margin-top: 3%;
  margin-left: 2%;
}
#div-subtittle {
  margin-left: -1%;
  margin-top: -2%;
}
#subtittle-panel-registration {
    font-size: 16px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 4%;
    margin-top: 2%;
}
#col-radio-button {
    width: 220px;
    margin-top: 1%;
    margin-left: 3%;
}
#technology-used {
    margin-left: -3%;
}
#images-tech-us {
  object-fit: fill;
  height: 215px;
  width: 215px;
  max-height: 100%;
  max-width: 100%;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: -1%;
  padding: 1%;
  border: 1px solid #cdced7;
}
#images-tech-us-large {
  object-fit: fill;
  height: 215px;
  max-height: 100%;
  width: 215%;
  max-width: 100%;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 5%;
  border: 1px solid #cdced7;
}
#label-radio-button {
 margin-left: -5%;
 font-size: 0.9em;
 color: #7f95a7;
}
#button-panel-register-next-first {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 55%;
    border-radius: 0;
    border: none;
    margin-left: 0%;
    margin-top: 3%;
}
#error-message {
    display: inline-block;
    width: 60%;
    height: 16px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 1000;
    letter-spacing: -0.07px;
    color: red;
    left: 0%;
    margin-top: 5% !important;
}
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
#card-panel-register-inside {
    width: 100vw;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;
    overflow: auto;  
}
#pagination {
    margin-top: -1%;
}
#pagination-bullet {
    margin-left: 1%;
}
#tittle-panel-registration {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-top: 3%;
    line-height: 1.25;
    color: #2a4092;
}
#text-panel-registration {
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: -1%;
    margin-bottom: -1%;
}
#col-register-panel-fields {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: -2%;
}
#div-electrical-background {
    margin-top: 5%;
    margin-left: -2%;
    background-color: #f9f9f9;
    width: 87%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#panel-input-label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color:transparent;
    left: 6%;
    top: -15%;

}
#panel-input-label-electrical_capacity, #panel-input-label-surface, #panel-input-label-commissioningDate{
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  left: -20%;
  top: -15%;
  float: left;
  line-height: inherit;
  left: 10px;
}
#electrical_capacity {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -68%;
}
#div-surface-background {
    margin-top: 5%;
    margin-left: -2%;
    background-color: #f9f9f9;
    width: 87%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
}
#surface {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 2;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    top: -68%;
}
#div-date-background {
  margin-top: 8%;
  margin-left: 0%;
  background-color: #f9f9f9;
  width: 94%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
  /* .ant-calendar-picker-input {
    left: -18%;
    top: -90%;
    border-radius: 0px;
    height: 38px;
    background-color:transparent;
    border: none;
  } */
#commissioningDate {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 0;
  background-color: transparent;
  border-radius: 0;
  left: 0%;
  top: -69%;
}
/* .ant-calendar-picker-input {
  border-radius: 0px;
  height: 25px;
  background-color: #f9f9f9;;
} */
#div-inverter-background-firstform {
  margin-top: 2%;
  margin-left: 0%;
  background-color: #f9f9f9;
  width: 90%;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#div-installation-background-firstform {

  margin: 0 auto;
  background-color: #f9f9f9;
  width: 200px;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
/* #panel-input-label-inverter {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:transparent;
  left: 0%;
  top: 0%;
} */
#inverter-capacity {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 0;
  background-color: transparent;
  border-radius: 0;
  top: -71%;
  left: 0%;
}
#div-installation-background-firstform {
  margin-top: 1% !important;
  margin-left: 1% !important;
  background-color: #f9f9f9;
  width: 87% !important;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
.ant-select-selection {
  width: 122px;
}
#installation-type {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 0;
  top: -71%;
  left: 0%;
}
#col-commissioning-date {
  margin-top: -11%;
}
#div-subtittle {
  margin-left: 0%;
  margin-top: 5%;
}
#subtittle-panel-registration {
    font-size: 16px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 0%;
    margin-top: -6%;
}
#col-radio-button {
    width: 33%;
    margin-left: 0%;
}
#technology-used {
  width: 100%;
  margin-left: -1%;
}
#images-tech-us {
  object-fit: fill;
  height: 25vw;
  width: 100%;
  max-height: 100%;
  margin-top: 1%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 5%;
  border: 1px solid #cdced7;
}
#images-tech-us-large {
  object-fit: fill;
  height: 216px;
  width: 100%;
  max-height: 25vw;
  margin-top: 1%;
  margin-left: -2%;
  margin-right: 0%;
  padding: 5%;
  border: 1px solid #cdced7;
}
#label-radio-button {
 margin-left: -5%;
 font-size: 0.9em;
 color: #7f95a7;
}

/* #register-panels-button-container-first {
    margin-top: 0%;
} */
#button-panel-register-next-first {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 95%;
    border-radius: 0;
    border: none;
    margin-top: 5%;
    margin-left: -3%;
}
}

/* .ant-input {
  width: 100% !important;
  height: 100% !important;
  background-color: transparent !important;
  border-bottom: none !important;
  left: -10% !important;
  top: -70% !important;
} */
.ant-radio.label {
  color: #db4196 !important;
}  

.ant-radio .ant-radio-inner {
  border-color: #db4196 !important;
}  
.ant-radio-checked .ant-radio-inner {
  border-color: #db4196 !important;
  /* color: #db4196 !important; */
  /* background-clip: content-box !important; */
}  


@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  .ant-input{ margin-top: -3px!important; } }   

  @-moz-document url-prefix() {
    
    .ant-input{ margin-top:-4px!important; }
    #div-inverter-background{
      height: 53px!important;
    }
    }