@import '~antd/dist/antd.css';

/************************************************************** INPUTS */
#electrical_capacity, #surface, 
#inverter-capacity {
  width: 80%;
  height: 54px;
  color: #2a4092;
  background-color: #f9f9f9;
  padding-top: 25px;
  border-radius: 0;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}/***********************************************************************/

/************************************************************* SELECTS */
/* SELECT-DATE PART DESPLEGABLE */

.ant-calendar-picker {
  width: 165px;
  height: 54px;
  color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
.ant-calendar-picker-input {
  /* margin-left: -10px; */
  border-radius: 0;
  top: 0px;
  width: 165px;
  height: 52px;
  color: #2a4092;
  background-color: #f9f9f9;
  padding: 23px 0 0 8px;
}
/* ICONO CALENDARIO  */
.ant-calendar-picker-clear, .ant-calendar-picker-icon {
  margin-top: 2px;
  left: 110px;
}
/* SELECT SELECTED VALUE */
.ant-select-selection-selected-value {
  margin-top: -30px;
  color: #2a4092;
}
/* FLECHA SELECT */
.ant-select-arrow {
  margin-top: -35px;
  left: 30px;
}
/* CUADRAT CELESTE */
/* .ant-select-selection__rendered{
  margin-top: auto;
}
.ant-select-selection .ant-select-selection--single{
} */
.ant-select-selection__placeholder{
  margin-top: -40px;
}
/***********************************************************************/

/************************************************************** LABELS */
/* LABELS */
#panel-input-label-electrical_capacity, #panel-input-label-surface {
  position: relative;
  width: 100px;
  text-align: left;
  float: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  margin-left: 5px;
  top: 10px;
  z-index: 10;
}
#panel-input-label-commissioningDate {
  position: relative;
  width: 100px;
  text-align: left;
  float: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  margin-left: 5px;
  top: 10px;
  z-index: 10;
}
#panel-input-label-inverter {
  position: relative;
  width: 100px;
  text-align: left;
  float: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  margin-left: 35px;
  top: 10px;
  z-index: 10;
}
#panel-input-label-type {
  position: relative;
  width: 100px;
  text-align: left;
  float: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 0;
  color: #2a4092;
  background-color:transparent;
  margin-left: 35px;
  top: 10px;
  z-index: 10;
}

/***************************************************************/
#surface {
  width: 100%;
  top: -71%;
  left: -5px;
}
#commissioningDate {
  top: -106%;
}
#inverter-capacity {
  margin-left: -5px;
  top: -70%;
}

#installation-type {
  margin-top: 10%;
  margin-left: 20px;
}
/***************************************************************/

#required-empty-field {
  box-shadow: 0 0 1.5px 1px red;
}

#popover-left, #popover-center, #popover-right {
  border: 1px solid #52acff;
}

#card-panel-register-inside {
  position: fixed;
  width: 600px;
  /* height: 700px; */
  max-height: 90vh;
  margin: auto;
  font-family: Montserrat;
  background-color: white;
  text-align: center;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0; 
  overflow-x: hidden;
  overflow-y: auto;
}
#pagination {
  margin-top: 0%;
}
#pagination-bullet {
  margin-left: 1%;
}
#tittle-panel-registration {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-top: 3%;
  line-height: 1.25;
  color: #2a4092;
}
#forms-close-button {
float: right; 
margin-top: -5%;
margin-right: -2%;
line-height: 2.7em;
background-color: transparent;
color: #ff0000;
opacity: 1;
font-size: 1.5em;
border: none;
box-shadow: none;
z-index: 1;
border-radius: none;
}
/* #error-message {
  display: inline-block;
  width: 60%;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: red;
  left: 0%;
  margin-top: 0% !important;
} */
.ant-radio.label {
  color: #db4196 !important;
}  
.ant-radio .ant-radio-inner {
  border-color: #db4196 !important;
}  
.ant-radio-checked .ant-radio-inner {
  border-color: #db4196 !important;
  /* color: #db4196 !important; */
  /* background-clip: content-box !important; */
} 
.ant-input::placeholder {
  color : #becbd4;
} 
.ant-calendar-picker-input::placeholder{
  color : #becbd4;
}
.ant-select-selection__placeholder{
  color : #becbd4;
}
/***************************************************************FIRST*FORM*GENERAL************************************************************/
/***************************************************************************************************************************/

#popover-left, #popover-center, #popover-right {
  width: 450px;
  background-color: #f9f9f9;
}
#popover-title {
  color: #2a4092;
}
#text-panel-registration {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 1%;
  margin-bottom: -1%;
}
#col-register-panel-fields {
  margin-top: 5%;
  margin-right: -3%;
}
#col-commissioning-date {
  margin-top: 4.5%;
}

/*************************************************** DIVS INPUTS Y SELECTS */
#div-electrical-background {
  margin-left: 1%;
  width: 90%;
}
#electrical_capacity {
  width: 100%;
  font-size: 14px;
  left: 0%;
  top: -71%;
}
#div-surface-background {
  margin-left: 13%;
  width: 90%;
}
#div-date-background {
  margin-top: 1%;
  margin-left: 20%;
}
#div-inverter-background {
  width: 300px;
  margin-top: 0.25%;
  margin-left: -9%;
}
#div-installation-background-firstform {
  width: 250px;
  margin-left: 15px;
  margin-top: 6px;
}
/**********************************************************************************/

#div-subtittle {
  margin-left: 2%;
  margin-top: 0%;
}
#subtittle-panel-registration {
  font-size: 16px;
  font-weight: 1000;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#image-col {
  margin-right: 0px;
}
#image-col-large {
  margin-left: 0px;
}
#radio-label-row {
  min-height: 50px;
  margin-top: 10px;
}
#radio-button-row {
  min-height: 10px;
  top: -10px;
}
#technology-used {
  margin-left: -1%;
  width: 100%;
  }
#images-tech-us {
  object-fit: fill;
  height: 175px;
  width: 175px;
  max-height: 100%;
  margin-top: 1%;
  left: 0%;
  margin-right: 0%;
  padding: 1%;
  border: 1px solid #cdced7;
}
#images-tech-us-large {
  object-fit: fill;
  height: 175px;
  width: 175px;;
  max-height: 100%;
  margin-top: 1%;
  left: 0%;
  padding: 3%;
  border: 1px solid #cdced7;
}
#label-radio-button {
 margin-left: -5%;
 font-size: 0.9em;
 color: #7f95a7;
}
#button-panel-register-next-first {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:40px;
  width: 55%;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 1%;
}
