/***************************************************************PANEL*REGISTER*SECOND*************************************************************/
/***PANEL*REGISTER*SECOND*************************************************************************************************************************/

#coordinatesFromMobile {
  visibility: hidden;
}

#text-panel-registration {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 1%;
  margin-bottom: -1%;
}
#col-register-panel-fields {
  margin-top: 5%;
  margin-right: -3%;
}
#div-longlat-background {
margin-top: 5%;
margin-left: 15%;
background-color: #f9f9f9;
width: 75%;
height: 54px;
border-style: solid;
border-width: 0px 0px 2px 0px;
border-bottom-color: #2a4092;
}
#div-longlat-background-right {
margin-top: 5%;
margin-left: 15%;
background-color: #f9f9f9;
width: 75%;
height: 54px;
border-style: solid;
border-width: 0px 0px 2px 0px;
border-bottom-color: #2a4092;
float: right;
margin-right: 6%;
}
#panel-longlat-label {
  display: block;
  width: 99%;
  text-align: left;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.25;
  color: #2a4092;
  background-color:transparent;
  left: 3%;
  top: 2%;
}
#lon, #lat {
  color: #7f95a7;
  width:100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  margin-left: 0%;
  top: -11%;

}

/***LEAFLET*MAP*SECOND**************************************************************/
#coords-container {
  width: 87%;
  margin-left: 7%; 
}
#add-installation-container-button-second {
  margin-top: 0%;
}
#button-panel-register-previous-second  {
  background-color: #2a4092;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
  height: 40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
}
#button-panel-register-next-second {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
  height:40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
}

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #card-panel-register-inside {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none; 
    overflow: auto;  
  }
  #pagination {
    margin-top: 2%;
  }
  #pagination-bullet {
    margin-left: 1%;
  }
  #tittle-panel-registration {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5%;
    line-height: 1.25;
    color: #2a4092;
  }
  #text-panel-registration {
    font-size: 18px;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 2%;
    margin-left: -5%;
    margin-bottom: 1%;
  }
  #col-register-panel-fields {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -6%;
  }
  #lat {
  color: #7f95a7;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0;
  margin-left: -3;
  margin-top: -2%;
  }
  #lon {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    margin-top: -2%;
    }
  #div-longlat-background {
    margin-top: 5%;
    margin-left: 3%;
    background-color: #f9f9f9;
    width: 75%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
    }
    #div-longlat-background-right {
      position: relative;
      margin-top: 5%;
      margin-left: -25%;
      background-color: #f9f9f9;
      width: 75%;
      height: 54px;
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-bottom-color: #2a4092;
      }
    #panel-longlat-label {
      width: 99%;
      text-align: left;
      font-weight: 500;
      font-size: 10px;
      line-height: 1.25;
      color: #2a4092;
      background-color:transparent;
      left: 2%;
      top: 2%;
    }


  /***LEAFLET*MAP*SECOND**************************************************************/
#coords-container {
  width: 87%;
  margin-left: 7%; 
}
  #button-panel-register-previous  {
    background-color: #2a4092;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 80%;
    height: 40px;
    border-radius: 0;
    border: none;
    margin-left: 7%;
  }
  #button-panel-register-next {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 15px;
    height: 40px;
    border-radius: 0;
    border: none;
    margin-right: -10%;
  }
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #card-panel-register-inside {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none; 
    overflow: auto;  
  }
  #pagination {
    margin-top: -1%;
  }
  #pagination-bullet {
    margin-left: 1%;
  }
  #tittle-panel-registration {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-top: 3%;
    line-height: 1.25;
    color: #2a4092;
  }
  #text-panel-registration {
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: -1%;
    margin-left: 0%;
    margin-bottom: -1%;
  }
  #col-register-panel-fields {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: -2%;
  }
  #lat {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    background-color: transparent;
    border-radius: 0;
    margin-left: -2%;
    margin-top: -1%;
    }
  #lon {
    color: #7f95a7;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    background-color: transparent;
    border-radius: 0;
    left: 0%;
    margin-top: -1%;
    }
    #div-longlat-background {
      margin-top: 5%;
      margin-left: -3%;
      background-color: #f9f9f9;
      width: 75%;
      height: 54px;
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-bottom-color: #2a4092;
      }
      #div-longlat-background-right {
        position: relative;
        margin-top: 5%;
        left: -7%;
        background-color: #f9f9f9;
        width: 75%;
        height: 54px;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-bottom-color: #2a4092;
        }
      #panel-longlat-label {
        display: block;
        width: 99%;
        text-align: left;
        font-weight: 500;
        font-size: 10px;
        line-height: 1.25;
        color: #2a4092;
        background-color:transparent;
        margin-left: 3%;
        top: 2%;
      }


  /***LEAFLET*MAP*SECOND**************************************************************/
#coords-container {
  width: 95%;
  height: 45vh;
  margin-left: 0%; 
}
  #add-installation-container-button-second {
    margin-top: 3%;
    margin-left: -4%;
  }
  #button-panel-register-previous-second  {
    background-color: #2a4092;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 85%;
    height: 40px;
    border-radius: 0;
    border: none;
    margin-left: 0%;
  }
  #button-panel-register-next-second {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 85%;
    height:40px;
    border-radius: 0;
    border: none;
    margin-right: -15%;
  }
  
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  #lon, #lat{ margin-top: -15px!important; } }   

  @-moz-document url-prefix() {
    
    #lon, #lat{ margin-top:-7px!important; }
    } 
  