/***************************************************************SIXTH*FORM*************************************************************/
/***SIXTH*FORM************************************************************************************************************************/

#register-panel-fields-sixth {
  margin-top: 0%;
  margin-left: 0%;
} 
#div-installation-background {
  margin-top: 3%;
  margin-left: 10%;
  background-color: #f9f9f9;
  width: 230px;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#div-observation-background {
  margin-top: 3%;
  margin-left: 5%;
  background-color: #f9f9f9;
  width: 520px;
  height: 54px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
}
#panel-sixth-label {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:transparent;
  left: 1%;
  top: 1%;
}
#panel-sixth-label-large {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:transparent;
  left: 1%;
  top: 2%;
}
#installation-name {
  color: #2a4092;
  width: 100%;
  height:100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 5px; 
  background-color: transparent;
  border-radius: 0;
  top: -23%;
  left: 0%;
}
#installation-property {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  top: -30%;
  margin-left: 0%;
}
.ant-select-selection {
  /* color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 16px;
  padding: 0px 10px 0 5px; */
  /* background-color: transparent; */
  border-radius: 0;
  /* left: 0%;
  top: -30% */
}
#subtittle-panel-registration-sixth {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
  margin-left: 5%;
  margin-top: -1%;
  margin-bottom: 3%;
}
#subtittle-panel-registration-battery {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
  margin-left: 5%;
  margin-top: -1%;
}
#col-battery {
  margin-top: 3%;
}
#col-observation {
  margin-top: -3%;
}
#battery-description, #observation {
  color: #2a4092;
  width: 100%;
  height: 100%;
  font-family: Montserrat;
  font-size: 18px;
  padding: 20px 10px 0 5px;
  background-color: transparent;
  border-radius: 0;
  margin-left: 0%;
  top: -24%;
}
#text-panel-registration-sixth {
  font-size: 16px;
  margin-left: 13%;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 1%;
  margin-bottom: -1%;
}
#upload-images {
  margin-left: 5%;
  width: 90%;
  height: 150px;
  border-radius: 2.6px;
  border: dotted 2px #2a4092;
  background-color: #f9f9f9;
  overflow: scroll;
}
#upload-text-one {
  height: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.31px;
  color: #db4196;
  background-color: #f9f9f9;
}
#preview-sixth {
  height: 10%;
  width: 10%;
  border: 1px solid #cdced7;
}
#no-image-sixth {
  margin-left: -63%;
  margin-top: 2%;
  height: 10%;
  width: 10%;
  padding: 1%;
  border: 1px solid #cdced7;
}
#battery-radio-text-sixth {
  margin-left: 4%;
}
#battery-radio-sixth {
margin-left: 0%;
margin-top: -5%;
}
#button-panel-register-previous-sixth  {
  background-color: #2a4092;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
  height: 40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 1%;
}
#button-panel-register-next-sixth {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
  height:40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 1%;
}
#images-progress-bar {
  margin-left: 0%;
}
/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #register-panel-fields-sixth {
    margin-top: 0%;
    margin-left: 0%;
  } 
  #div-installation-background {
    margin-top: 3%;
    margin-left: 10%;
    background-color: #f9f9f9;
    width: 230px;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #div-observation-background {
    margin-top: 3%;
    margin-left: 5%;
    background-color: #f9f9f9;
    width: 520px;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #panel-sixth-label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color:transparent;
    left: 1%;
    top: 1%;
  }
  #panel-sixth-label-large {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color:transparent;
    left: 1%;
    top: 2%;
  }
  #installation-name {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 18px;
    padding: 20px 10px 0 5px; 
    background-color: transparent;
    border-radius: 0;
    top: -23%;
    left: 0%;
  }
  #installation-property {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 18px;
    padding: 20px 10px 0 5px;
    background-color: transparent;
    border-radius: 0;
    top: -30%;
    margin-left: 0%;
  }
  .ant-select-selection {
    /* color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 16px;
    padding: 0px 10px 0 5px; */
    /* background-color: transparent; */
    border-radius: 0;
    /* left: 0%;
    top: -30% */
  }
  #subtittle-panel-registration-sixth {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 5%;
    margin-top: -1%;
    margin-bottom: 3%;
  }
  #subtittle-panel-registration-battery {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 5%;
    margin-top: -1%;
  }
  #col-battery {
    margin-top: 3%;
  }
  #col-observation {
    margin-top: -3%;
  }
  #battery-description, #observation {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 18px;
    padding: 20px 10px 0 5px;
    background-color: transparent;
    border-radius: 0;
    margin-left: 0%;
    top: -23%;
  }
  #text-panel-registration-sixth {
    font-size: 16px;
    margin-left: 13%;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 1%;
    margin-bottom: -1%;
  }
  #upload-images {
    margin-left: 5%;
    width: 90%;
    height: 150px;
    border-radius: 2.6px;
    border: dotted 2px #2a4092;
    background-color: #f9f9f9;
    overflow: scroll;
  }
  #upload-text-one {
    height: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.31px;
    color: #db4196;
    background-color: #f9f9f9;
  }
  #preview-sixth {
    height: 10%;
    width: 10%;
    border: 1px solid #cdced7;
  }
  #no-image-sixth {
    margin-left: -63%;
    margin-top: 2%;
    height: 10%;
    width: 10%;
    padding: 1%;
    border: 1px solid #cdced7;
  }
  #battery-radio-text-sixth {
    margin-left: 4%;
  }
  #battery-radio-sixth {
  margin-left: 0%;
  margin-top: -5%;
  }
  #button-panel-register-previous-sixth  {
    background-color: #2a4092;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 70%;
    height: 40px;
    border-radius: 0;
    border: none;
    margin-left: 0%;
    margin-top: 1%;
  }
  #button-panel-register-next-sixth {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 70%;
    height:40px;
    border-radius: 0;
    border: none;
    margin-left: 0%;
    margin-top: 1%;
  }
  #images-progress-bar {
    margin-left: 0%;
  }
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
  #register-panel-fields-sixth {
    margin-top: 0%;
    margin-left: 0%;
  } 
  #div-installation-background {
    margin-top: 3%;
    margin-left: 10%;
    background-color: #f9f9f9;
    width: 90px;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #div-observation-background {
    margin-top: 3%;
    margin-left: 0%;
    background-color: #f9f9f9;
    width: 95%;
    height: 54px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-bottom-color: #2a4092;
  }
  #panel-sixth-label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color:transparent;
    left: 1%;
    top: 1%;
  }
  #panel-sixth-label-large {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: #2a4092;
    background-color:transparent;
    left: 1%;
    top: 2%;
  }
  #installation-name {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 16px;
    padding: 20px 10px 0 5px; 
    background-color: transparent;
    border-radius: 0;
    top: -24%;
    left: 0%;
  }
  #installation-property {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 16px;
    padding: 20px 10px 0 5px;
    background-color: transparent;
    border-radius: 0;
    top: -26%;
    margin-left: 0%;
  }
  .ant-select-selection {
    /* color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 16px;
    padding: 0px 10px 0 5px; */
    /* background-color: transparent; */
    border-radius: 0;
    /* left: 0%;
    top: -30% */
  }
  #subtittle-panel-registration-sixth {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 0%;
    margin-top: -1%;
    margin-bottom: 3%;
  }
  #subtittle-panel-registration-battery {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
    margin-left: 0%;
    margin-top: 0%;
  }
  #battery {
    position: relative;
    margin-left: 52%;
  }
  #battery-radio-sixth {
    margin-top: -9%;
    }
  #col-battery {
    margin-top: 3%;
  }
  #col-observation {
    margin-top: -3%;
  }
  #battery-description, #observation {
    color: #2a4092;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    font-size: 16px;
    padding: 20px 10px 0 5px;
    background-color: transparent;
    border-radius: 0;
    margin-left: 0%;
    top: -23%;
  }
  #text-panel-registration-sixth {
    font-size: 16px;
    margin-left: 13%;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 1%;
    margin-bottom: -1%;
  }
  #upload-images {
    margin-left: 0%;
    width: 95%;
    height: 150px;
    border-radius: 2.6px;
    border: dotted 2px #2a4092;
    background-color: #f9f9f9;
    overflow: scroll;
  }
  #upload-text-one {
    height: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.31px;
    color: #db4196;
    background-color: #f9f9f9;
  }
  #preview-sixth {
    height: 10%;
    width: 10%;
    border: 1px solid #cdced7;
  }
  #no-image-sixth {
    margin-left: -63%;
    margin-top: 2%;
    height: 10%;
    width: 10%;
    padding: 1%;
    border: 1px solid #cdced7;
  }
  #battery-radio-text-sixth {
    margin-left: 4%;
  }

  #button-panel-register-previous-sixth  {
    background-color: #2a4092;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 85%;
    height: 40px;
    border-radius: 0;
    border: none;
    margin-left: -6%;
    margin-top: 13%;
  }
  #button-panel-register-next-sixth {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 500;
    width: 85%;
    height:40px;
    border-radius: 0;
    border: none;
    margin-left: -6%;
    margin-top: 13%;
  }
  #images-progress-bar {
    margin-left: 0%;
  }
}

/*******ERROR*MESSAGE********/
#error-post-update-message {
  display: contents;
  width: 90%;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: red;
  margin-left: 0% !important;
  margin-top: -3%  !important;
}


@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  #installation-name, #installation-property, #battery-description, #observation{ margin-top: -15px!important; } }   

  @-moz-document url-prefix() {
    
    #installation-name, #installation-property, #battery-description, #observation{ margin-top:-3px!important; }
    }