/***************************************************************PANEL*REGISTER*THIRD*************************************************************/
/***PANEL*REGISTER*THIRD*************************************************************************************************************************/

#text-panel-registration {
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 1%;
  margin-bottom: -1%;
}
#col-register-panel-fields {
  margin-top: 5%;
  margin-right: -3%;
}
#register-panel-fields-third {
  margin-top: 5%;
}
#panel-tracking-orientation {
  margin-right: 5%;
}
#panel-tracking-inclination {
  margin-left: 5%;
}
.ant-checkbox .ant-checkbox-inner {
  border-color: #db4196;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #db4196;
  border-color: #db4196;
}
#col-image-panel-tracking {
  margin-top: 5%;
}
#image-panel-tracking {
  margin-top: -6%;
  width: 50%;
  height: 50%;
}
#button-panel-register-previous-third  {
  background-color: #2a4092;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
  height: 40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 6%;
}
#button-panel-register-next-third {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 70%;
  height:40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 6%;
}

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {
  #card-panel-register-inside {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none; 
    overflow: auto;  
  }
  #pagination {
    margin-top: 2%;
  }
  #pagination-bullet {
    margin-left: 1%;
  }
  #tittle-panel-registration {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5%;
    line-height: 1.25;
    color: #2a4092;
  }
  #text-panel-registration {
    font-size: 18px;
    line-height: 1.25;
    color: #7f95a7;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  #col-register-panel-fields {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: -6%;
  }

#button-panel-register-next {
    background-color: #db4196;
    color: #ffffff;
    line-height: 1.5;
    height:40px;
    width: 55%;
    border-radius: 0;
    border: none;
    margin-left: 0%;
}
}

/**************************************************************MOBILE*SMALL****************************************************************/
/***MOBILE*SMALL***************************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {
#card-panel-register-inside {
    width: 100vw;
    margin-top: 0%;
    margin-left: 0%;
    font-family: Montserrat;
    background-color: white;
    text-align: center;
    border: none;
    overflow: auto;  
}
#pagination {
    margin-top: -1%;
}
#pagination-bullet {
  margin-left: 1%;
}
#tittle-panel-registration {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-top: 3%;
    line-height: 1.25;
    color: #2a4092;
}
#text-panel-registration {
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
    color: #7f95a7;
    margin-left: 0%;
    margin-top: -1%;
    margin-bottom: -1%;
}
#col-register-panel-fields {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: -2%;
}
#register-panel-fields-third {
    margin-top: 10%;
}
#image-panel-tracking {
  margin-top: 0%;
  width: 75%;
  height: 75%;
}
#button-panel-register-previous-third  {
  background-color: #2a4092;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 85%;
  height: 40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 34%;
  margin-left: -15%;
}
#button-panel-register-next-third {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
  width: 85%;
  height:40px;
  border-radius: 0;
  border: none;
  margin-left: 0%;
  margin-top: 34%;
  margin-left: -15%;
}
}
