/*************************************************************COMPUTER**************************************************************/
/***COMPUTER************************************************************************************************************************/
#row-page-container {
  position: relative;
  min-height: 100vh;
}
#col-welcome-container { 
  display: block;
  position: relative;
  background-image: url(../../assets/left-background.png);
  background-color: white !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2.5rem; /*footer height*/ 
  min-height: 100vh;
  overflow-y: hidden;
}
#inside-welcome-container {
  margin-top: 5% !important;
  margin-left: 15% !important; 
  padding: 0; 
}
#col-background {
  background-image: url(../../assets/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden; 
  background-image: linear-gradient(to bottom, #185490, #0a2a57); 
}
#background-logo {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
 }
 #welcome-paragraph {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  width: 500px;
  height: 237px;
  
}
#welcome-first {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.53px;
  color: #ffffff;
}
#welcome-second {
  width: 450px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.36px;
  color: #ffffff;
}
#welcome-third{
  margin-left: 23%;
  margin-right: 23%;
  margin-top: -50px;
  width: 450px;
  height: 339px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.36px;
  color: #ffffff;
}
#welcome-title-text {
  width: 100%;
  font-size: 34px;
  font-weight: 1000;
  text-align: left;
  margin-top: 8%;
  line-height: 1.25;
  color: #2a4092;
}
#welcome-normal-text {
  margin-top: 5%;
  font-size: 24px;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.53px;
  color: #214867 !important;
}
#welcome-normal-text-bold {
  font-weight: 600;
  letter-spacing: 0.56px;
  color: #002c50 !important;
}
#welcome-white-text-bold {
  font-weight: 600;
  letter-spacing: 0.56px;
}
#welcome-text-mini {
  margin-top: 5%;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.36px;
  line-height: 1.25;
  color: #2a4092;
}
#large-divider {
  height: 30px;
  background-color: transparent;
}
#welcome-button-container {
  display: flex;
  align-items: start;
}
#button-welcome-left {
  background-color: #db4196;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  width: 50%;
  height: 40px;
  border: 0;
  border-radius: 0;
}
#button-welcome-right {
  background-color: #2a4092;
  color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 600;
  width: 50%;
  height: 40px;
  border: 0;
  border-radius: 0;
  margin-left: 5%;
}
#link {
  color: #db4196;
}
#footer-divider {
  height: 5px;
  background-color: transparent;
}
#welcome-text-footer {
  position: absolute;
  width: 65%;
  height: 2.5rem; /*footer height*/
  clear:both;
  float: left;
  font-size: 12px;
  bottom: 10%;
  margin-left: 0;
  color: #2a4092;
  font-weight: 500;
} 

/**************************************************************TABLET*****************************************************************/
/***TABLET****************************************************************************************************************************/
@media (min-width: 600px) and (max-width: 992px) {
  #row-page-container {
    position: relative;
    min-height: 100vh;
  }
  #col-welcome-container {
    background-image: url(../../assets/left-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem; /*footer height*/ 
    min-height: 100vh; 
    display: block;
    position: relative;
    padding-bottom: 10rem; /*footer height*/
  }
  #inside-welcome-container {
    margin-top: 30%;
    margin-left: 30%;
    margin-right: 30%; 
    padding: 0; 
  }

  #welcome-logo-mobile-image {
    margin-top: 10%;
    margin-bottom: 15%;
    width: 45%;
    height: 30%;
    margin-left: 25%;
    
  }
  #welcome-title-text {
    width: 100%;
    margin-top: 25%;
    font-size: 26.6px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #welcome-normal-text {
    margin-top: 10%;
    font-size: 24m;
    text-align: left;
    line-height: 1.25;
    color: #002c50;
  }
  #welcome-text-mini {
    margin-top: 6%;
    width: 90%;
    margin-right: 8%;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.36px;
    line-height: 1.25;
    color: #2a4092;
  }
  #large-divider {
    height: 10px;
  }
  #footer-divider {
    height: 5px;
    background-color: transparent;
  }
  #welcome-text-footer {
  font-size: 15px;
  position: absolute;
  clear: both;
  height: 10rem; /*footer height*/
  width: 50%;
  float: left;
  bottom: 1%;
  margin-left: 0%;
  color: #2a4092;
  font-weight: 500;
  } 
}

/**************************************************************MOBILE*****************************************************************/
/***MOBILE****************************************************************************************************************************/
@media (min-width: 240px) and (max-width: 600px) {
  #row-page-container {
    position: relative;
    height: 100vh;
  }
  #col-welcome-container {
    background-image: none; 
    display: block;
    position: relative;
    padding-bottom: 10rem; /*footer height*/
  }
  #welcome-logo-mobile {
    margin-top: 5%;
    margin-left: 5%;
    width: fit-content;
  }
  #welcome-logo-mobile-image {
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 8%;
    width: 65%;
  }
  #inside-welcome-container{
    margin-left: 8%;
    margin-right: 8%;
  }
  #welcome-title-text {
    width: 100%;
    margin-top: 25%;
    font-size: 23px;
    font-weight: 1000;
    text-align: left;
    line-height: 1.25;
    color: #2a4092;
  }
  #welcome-normal-text {
    margin-top: 6%;
    margin-right: 8%;
    font-size: 16px;
    letter-spacing: 0.36px;
    text-align: left;
    line-height: 1.25;
    color: #002c50;
  }
  #welcome-text-mini {
    margin-top: 6%;
    width: 85%;
    margin-right: 8%;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.36px;
    line-height: 1.25;
    color: #2a4092;
  }
  #large-divider {
    height: 10px;
    background-color: transparent;
  }
  #welcome-button-container {
    display: inline;
  }
  #button-welcome-left {
    background-color: #db4196;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 42px;
    border: 0;
    border-radius: 0;
  }
  #button-welcome-right {
    background-color: #2a4092;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    width: 95%;
    height: 42px;
    margin-top: 3%;
    margin-left: 0%;
    border: 0;
    border-radius: 0;
  }
  #footer-divider {
    height: 0px;
    background-color: transparent;
  }
  #welcome-text-footer {
   position: absolute;
   height: 10rem; /*footer height*/
   clear:both;
   left: 8%;
   bottom: 0;
   width: 80%;
   font-size: 12px;
   color: #2a4092;
   font-weight: 500;
  } 
}

#prueba-comunicacion {
  display: none;
}

/*DIFFERENTS*VIEWPORTS*/
@media (min-width: 993px) and (max-width: 1172px) {
  #welcome-title-text {
    font-size: 25px; 
  }
}

@media (min-width: 1173px) and (max-width: 1598px) {
  #welcome-title-text {
    font-size: 30px; 
  }
}