@import '~antd/dist/antd.css';

body,html {
  height: 100vh;
  margin: 0;
  font-family: Montserrat;
  background-color: white;
}
.coords-container {
  /* height: 40vh;
  width: 85%;
  margin-left: 7%;  */
  height: 307px;
  width: 448px;
  margin-left: -9%; 
}

.body_forms{
  background: url(/static/media/panels.12d79477.png);
  background-size: cover;
}
.transparentDivider{
  background: none!important;
}