@import '~antd/dist/antd.css';

body,html {
  height: 100%;
  margin: 0;
  font-family: Montserrat;
}

/*********************************************************************************RADIO*BUTTON**********************************************/



/*********************************************************************************WELCOME****************************************************/

/* #grid-welcome {
  background-color: white;
  background-image: url(./assets/left-background.png);
  height: 100vh; 
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
#container-welcome {
  height: 100%;
  width: 434px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 4%;
}
#title-welcome {
  font-size: 36px;
  text-align: left;
  margin-top: 12%;
  line-height: 1.25;
}
#text {
  font-size: 24px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#mini-text {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.36px;
  line-height: 1.25;
}
#footer-text {
  margin-bottom: 0px;
  text-align: left;
  line-height: 1.25;
  margin-bottom: 2%;
}
#button-container-welcome {
  display: flex;
  align-items: start;
  margin-top: 12%;
}
#button-welcome-left {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 175px;
  border-radius: 0;
}
#button-welcome-right {
  background-color: #2a4092;
  color: #ffffff;
  line-height: 1.5;
  height: 48px;
  width: 175px;
  border-radius: 0;
}
#background {
  background-image: url(./assets/background.png);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
#logo {
 align-content: center;
 margin-top: 50%;
}
#link {
  color: #db4196;
}
#separator{
  height: 50px;
} */

/******************************************************************************LOGIN*******************************************************/
/* 
#grid-login {
  background-color: white;
  background-image: url(./assets/left-background.png);
  height: 100vh; 
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#container-login {
  height: 100%;
  width: 434px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 8%;  
}
#title-login {
    font-size: 33px;
    text-align: left;
    margin-top: 6%;
    line-height: 1.25;
}
#mini-text-login {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.36px;
  line-height: 1.25;
  margin-left: 32%;
}
#label {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-left: 0px;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color: transparent;
  margin-left: 10%;
}
#input-form-fields {
  text-align: left;
  margin-left: -50%;
  margin-top: 10%;
}
#email, #password {
  color: #2a4092;
  width: 250px;
  height: 51px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 2;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 10%;
}
#error-login-message {
  display: inline-block;
  text-align: left;
  width: 400px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: -2%;
  margin-top: -20%;
}
#button-container-login {
  display: flex;
  align-items: start;
  margin-top: 12%;
  margin-left: -50%;
}
#button-login {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: 55%;
} */

/********************************************************************************REGISTER*******************************************************/
/* 
#grid-register {
  background-color: white;
  background-image: url(./assets/left-background.png);
  height: 100vh; 
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#container-register {
  height: 100%;
  width: 434px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 8%;  
}
#title-register {
    font-size: 33px;
    text-align: left;
    margin-top: 6%;
    line-height: 1.25;
}
#container-checkbox {
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.36px;
  line-height: 1.25;
  margin-left: 32%;
  color: #2a4092;
}
#label-checkbox {
  margin-top: -7%;;
  margin-left: 10%;
}
#label {
  display: inline-block;
  width: 150px;
  text-align: left;
  margin-left: 0px;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color: transparent;
  margin-left: 10%;
}
#input-form-fields-register {
  text-align: left;
  margin-left: -50%;
  margin-top: 10%;
}
#email, #password, #username, #confirm-password {
  color: #2a4092;
  width: 250px;
  height: 51px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 2;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 10%;
}
#button-container-register {
  display: flex;
  align-items: start;
  margin-top: 12%;
  margin-left: -50%;
}
#button-register {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: 54.5%;
  margin-top: -5%;
}
#separator-register{
  height: 10px;
}
#error-register-message {
  display: inline-block;
  width: 300px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: 32%;
} */

/*************************************************************************COMPLETE*REGISTER****************************************************/

#grid-register-complete {
  background-color: white;
  background-image: url(./assets/left-background.png);
  height: 100vh; 
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#container-register-complete {
  height: 100%;
  width: 434px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 8%;  
}
#title-register-complete {
    font-size: 28px;
    text-align: left;
    margin-top: 6%;
    line-height: 1.25;
}
#text-register-complete {
  font-size: 24px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
  margin-left: 0;
  margin-top: -30%;
}
#button-container-register-complete {
  display: flex;
  align-items: start;
  margin-top: 10%;
  margin-left: -125%;
}
#button-register-complete {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: 55%;
}

/**************************************************************RESET*PASDWORD*******************************************************************/

#grid-login {
  background-color: white;
  background-image: url(./assets/left-background.png);
  height: 100vh; 
  width: auto; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#container-reset {
  height: 100%;
  width: 434px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 8%;  
}
#title-reset {
    font-size: 33px;
    text-align: left;
    margin-top: 12%;
    line-height: 1.25;
}
#text-reset {
  font-size: 24px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#input-form-fields-reset {
  text-align: left;
  margin-left: -50%;
  margin-top: 10%;
}
#email {
  color: #2a4092;
  width: 250px;
  height: 51px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 2;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 10%;
}
#error-reset-message {
  display: inline-block;
  text-align: left;
  width: 300px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: -7%;
  margin-top: -20%;
}
#button-container-reset {
  display: flex;
  align-items: start;
  margin-top: 12%;
  margin-left: -50%;
}
#button-reset {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: 33%;
}

/*****************************************************************CONFIRM*PASSWORD****************************************************************/

#grid-confirm {
  background-color: white;
  background-image: url(./assets/left-background.png);
  height: 100vh; 
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#container-confirm {
  height: 100%;
  width: 434px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 8%;  
}
#title-confirm {
    font-size: 33px;
    text-align: left;
    margin-top: 10%;
    line-height: 1.25;
}
#text-confirm {
  font-size: 24px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
}
#input-form-fields-confirm {
  text-align: left;
  margin-left: -50%;
  margin-top: 10%;
}
#email, #password, #confirm-password {
  color: #2a4092;
  width: 250px;
  height: 51px;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 2;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 10%;
}
#error-confirm-message {
  display: inline-block;
  text-align: left;
  width: 400px;
  height: 16px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 1000;
  letter-spacing: -0.07px;
  color: #ff3b30;
  margin-left: -3%;
  margin-top: -20%;
}
#button-container-confirm {
  display: flex;
  align-items: start;
  margin-top: 12%;
  margin-left: -52%;
}
#button-confirm {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: 34%;
}

/*********************************************************PANEL*REGISTER*COMMON****************************************************************/

#background-panel-register {
  position: absolute;
  background-color: white;
  background-image: url(./assets/panels.png);
  height: 100vh; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
#container-panel-register-inside {
  height: 85%;
  width: 40%;
  margin-top: 3%;
  margin-left: 25%;
  font-family: Montserrat;
  background-color: white;
  padding: 8%;
  text-align: center;  
}
#pagination {
  margin-top: -25%;
  color: #2a4092;
}
#tittle-panel-registration {
  font-size: 25px;
  text-align: center;
  margin-top: 5%;
  line-height: 1.25;
  color: #2a4092;
}
#button-panel-register-next {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
}
#button-panel-register-previous{
  background-color: #2a4092;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
}

/***************************************************************PANEL*REGISTER*FIRST*************************************************************/

#text-panel-registration {
  font-size: 16px;
  text-align: center;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 5%;
}
#register-panel-fields {
  display: inline-flex;
  margin-left: -15%;
  margin-top: 6%;
}
#label-panel {
  display: inline-block;
  text-align: left;
  width: 150px;
  text-align: top;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:#f9f9f9;
  margin-left: 12px;
  margin-bottom: -1px;
  border: 3px solid #f9f9f9;
}
#electrical_capacity, #surface, #lon, #lat {
  color: #2a4092;
  width: 150px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 15px;
}
#commissioningDate {
  color: #2a4092;
  width: 150px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 0.7;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 15px;
}
#text-panel {
  font-size: 18px;
  text-align: left;
  line-height: 1.25;
  color: #2a4092;
  margin-left: -11%;
}
#technology-used-images {
  width: 125%;
  margin-left: -12%;
  margin-top: 5%;
}
#images-tech-us {
  margin-left: 1%;
}
#register-panel-inverter {
  margin-top: 5%;
}
/* #label-panel-radio-first {
  align-items: baseline;
  line-height: 1.25;
  color: #7f95a7; 
} */
#radio-button-group {
  display: inline-flex;
  align-items: stretch;
  width: 125%;
  margin-left: -12%; 
  background-color: whitesmoke;
}
#technology-used {
margin-left: 100%;
}
#subtittle-panel-registration {
  font-size: 16px;
  text-align: left;
  margin-top: 1%;
  margin-left: -11.5%;
  line-height: 1.25;
  color: #2a4092;
}
#register-panels-button-container-first {
  margin-top: 15%;
  margin-left: 0%;
}

/**************************************************************PANEL*REGISTER*SECOND****************************************************************/

#text-panel-registration-second {
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 2%;
}
#register-panel-fields-second {
  display: inline-flex;
  margin-left: -15%;
  margin-top: 3%;
}  
.coords-container {
  height: 307px;
  width: 448px;
  margin-left: -9%; 
}
#register-panels-button-container-second {
  display: inline-flex;
  margin-top: 10%;
  margin-left: -15%; 
}
/**************************************************************PANEL*REGISTER*THIRD****************************************************************/

#text-panel-registration-second {
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 2%;
}
#register-panel-fields-second {
    display: inline-flex;
  margin-left: -15%;
  margin-top: 3%;
}   
#register-panels-button-container-third {
  display: inline-flex;
  margin-top: 10%;
  margin-left: -15%; 
}

/**************************************************************PANEL*REGISTER*FOURTH****************************************************************/

#text-panel-registration-second {
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 2%;
}
#register-panel-fields-second {
  display: inline-flex;
  margin-left: -15%;
  margin-top: 3%;
}
#label-panel-orientation-inclination {
  display: inline-block;
  text-align: left;
  width: 150px;
  text-align: top;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:#f9f9f9;
  margin-left: 0%;
  margin-bottom: 1%;
  border: 3px solid #f9f9f9;
}
#inclination, #orientation {
  color: #2a4092;
  width: 150px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: -50%;
  margin-top: 5%
}
#register-panel-image-fourth {
  margin-top: 6%;
}  
#register-panels-button-container-fourth {
  display: inline-flex;
  margin-top: 10%;
  margin-left: -15%; 
}

/**************************************************************PANEL*REGISTER*FIFTH****************************************************************/

#text-panel-registration-second {
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 2%;
}
#register-panel-fields-second {
  display: inline-flex;
  margin-left: -15%;
  margin-top: 3%;
}
#register-panel-image-fifth {
  margin-top: 6%;
}  
#register-panels-button-container-fifth {
  display: inline-flex;
  margin-top: 16%;
  margin-left: -15%; 
}

/**************************************************************PANEL*REGISTER*SIXTH****************************************************************/

#text-panel-registration-second {
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 2%;
}
#register-panel-fields-second {
  display: inline-flex;
  margin-left: -15%;
  margin-top: 3%;
}  
#label-panel-six-large {
  display: inline-block;
  text-align: left;
  width: 200px;
  text-align: top;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:#f9f9f9;
  margin-left: 12px;
  margin-bottom: -1px;
  border: 3px solid #f9f9f9;
}
#installation-name {
  color: #2a4092;
  width: 200px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 15px;
}
#installation-property {
  color: #2a4092;
  width: 200px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 0px;
}
#select-property {
  color: #2a4092;
  width: 200px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: 0px;
}
#register-panels-button-container-sixth {
  display: inline-flex;
  margin-top: 10%;
  margin-left: -15%; 
}
#image-fields-container {
  display: inline-flex;
}
#upload-img {
  overflow:hidden;
  width:auto;
  margin-left: -10%;
}
#upload-img-button {
  margin-left: 5%;
}
#image-preview {
  margin-left: -10%;
}
/* #no-image {

} */
#preview {
  margin-left: -88%;
}
#label-panel-very-large, #label-panel-inverter {
  display: inline-block;
  text-align: left;
  width: 475px;
  font-size: 12px;
  line-height: 1.25;
  color: #2a4092;
  background-color:#f9f9f9;
  margin-left: -12%;
  margin-bottom: -1px;
  border: 3px solid #f9f9f9;
}
#observation, #inverter-capacity, #battery-description {
  color: #2a4092;
  width: 475px;
  height: 40px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-bottom-color: #2a4092;
  background-color: #f9f9f9;
  border-radius: 0;
  margin-left: -12%;
}
#battery-radio-text {
  font-size: 16px;
  text-align: left;
  margin-top: 1%;
  margin-left: -11.5%;
  line-height: 1.25;
  color: #2a4092;
}
#battery-radio{
  margin-left: 0%;
  margin-top: -8.5%;
}
#label-panel-radio {
  display: flow-root;
  width: 150px;;
  color: #2a4092;
  margin-left: 30%;
  margin-bottom: 2%;
  font-size: 15px;
  line-height: 1.25;
  color: #7f95a7;
}
#battery {
  margin-top: 10%;
  color: #2a4092;
}
#battery-observation {
  margin-top: 1%;
}  
#register-panels-button-container-sixth {
  margin-top: 8%;
}

/*****************************************************************************PANEL*FINALIZE****************************************************/
#tittle-finished-panel {
  font-size: 25px;
  text-align: center;
  margin-top: -10%;
  line-height: 1.25;
  color: #2a4092;
}
#text-finished-panel-registration {
  font-size: 16px;
  text-align: left;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 10%;
}
#solar-panel {
  margin-top: 5%;
  margin-left: 0%;
}
#button-panel-finish-next {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: -5%;
  margin-top: 10%;
}

/***********************************************************************************MAPPING****************************************************/
.leaflet-container {
  height: 100%;
}

/***********************************************************************************CURRENT*PANEL***************************************************/
/* #external-container {
  position: absolute;
  background-color:transparent;
  height: 100vh; 
  width: 100%; 
} */
#container-current-panel {
  height: 85%;
  width: 40%;
  margin-top: 3%;
  margin-left: 25%;
  font-family: Montserrat;
  background-color: white;
  padding: 8%;
  text-align: center;  
}

#tittle-current-panel {
  font-size: 25px;
  text-align: center;
  margin-top: -25%;
  line-height: 1.25;
  color: #2a4092;
}

#image-current-panel {
   margin-left: -50%;
   margin-top: -8%; 
}

#show-current-panel {
  font-size: 16px;
  line-height: 1.25;
  color: #7f95a7;
  margin-top: 2%;
  margin-left: 0%;
  margin-top: -15%; 
}
#button-panel-show-map {
  background-color: #db4196;
  color: #ffffff;
  line-height: 1.5;
  height:48px;
  width: 250px;
  border-radius: 0;
  border: none;
  margin-left: -5%;
  margin-top: 10%;
}
/*********************************************************CHAT-PANEL****************************************************/

/*********************************************************LEFT*MENU************************************************************/

#left-menu-container {
  float: left; 
  height: 90%;
  width: 434px;
  font-family: Montserrat;
  color: #2a4092;
  padding: 0;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

#chat-panel-data-labels {
  margin-top: 2%;
  color: #bfc5d2;
  text-align: center;
}
#chat-panel-data-fields {
  margin-top: -11%;
  color: #2a4092;
  text-align: center;
}
#chat-panel-user-name {
  margin-top: 1%;
  text-align: center;
  color: #2a4092;
  background-color: #eeeeee
}
#chat-panel-messages {
  overflow: scroll;
  margin-top: 1%;
  height: 270px;
  
}
#chat-panel-input-message {
  margin-bottom: 0;
}
#send-message {
  height: 45px;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 5%;;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#chat-panel-send-button {
  position: absolute;
  bottom: 4.5%;
  right: 0;
  background-color: transparent;
  color: #2a4092;
}

/*********************************************************STATISTICS*MAP************************************************************/

