@import '~antd/dist/antd.css';


/************************************************************FEED*PANEL*COMPUTER*CONTAINERS************************************************/
/***COMPUTER************************************************************************************************************/

#feed-card-container {
  overflow: hidden;
  z-index: 999;
  position: absolute;
  float: right;
  width: 424px;
  height: 720px;
  /* max-height: 85vh; */
  top: 50px !important;
  right: 50px !important; 
  font-family: Montserrat;
  color: #2a4092;
  padding: 0; 
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#feed-card-image-container {
  width: 424px;
  height: 238px;
  margin-top: -2.25%;
  margin-left: -6.8%;
}
#feed-list-container {
 margin-top: 0%;
 margin-left: -10%;
 height: 480px;
}
#feed-form-container {
  width: 100%;
  margin-left: -14%; 
}

/*************************************************************************FEED*CARD****************/
/***COMPUTER***********************************************************************************/

#feed-card-tittle {
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.8em;
  width: 424px;
  height: 40px;
  text-align: center;
  color: #2a4092;
  z-index: 1;
  background-color: white;
  opacity: 0.5;
  margin-top: -6.8%;
  margin-left: -6.8%;
}
#feed-close-button {
  position: absolute; 
  margin-top: -1.2rem;
  right: -2rem;
  background-color: transparent;
  color: #ff0000;
  opacity: 1;
  font-size: 18px;
  border: none;
  z-index: 1;
  border-radius: none;
}
#feed-panel-user-name {
  margin-top: -2%;
  margin-left: -24px;
  width: 423px;
  height: 35px;
  line-height: 2;
  font-weight: 500;
  font-size:  15px;
  text-align: center;
  color: #2a4092;
  background-color: #eeeeee
}

/**************************************************************************FEED*COMPUTER*ELEMENTS***************/
/***COMPUTER***********************************************************************************/

#feed-panel-messages-list {
  overflow-y: auto;
  margin-top: 0%;
  margin-left: 5%;
  width: 100%;
  height: 315px;
}

#panel-feed-container-message-box {
  display: block;
  width: 100%;
  /*EFREN*/
  position: absolute;
  bottom: 110px;
  height: 45px;
  /*EFREN*/
}
#feed-input-text {
  margin-top: 0%;
  margin-left: 10%;
  height: 40px;
  width: 95%;
  border-width: 0px 0px 0px 0px !important;
  border-bottom-color: none !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#feed-send-button {
  position: absolute;
  left: 98%;
  margin-top: -8px;
  font-size: 2.5em;
  background-color: transparent;
  border: none;
  color: #2a4092;
}
/***********************************AVATAR*USER*COMPUTER*/
#feed-panel-user-booble {
  text-align: left;
	position: relative;
	background:  #2a4092;
  border-radius: 0em 2em 2em 2em;
  width: 70%;
  height: 100%;
  margin-left: 10%;
  margin-top: 2%;
  color: white;
  font-family: Montserrat;
}
#feed-panel-avatar {
  float: left;
  background-color: #e9e9e9;
  color: #2a4092;
  margin-top: 0%;
  margin-left: 0%;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(16, 27, 79, 0.21);
}
#feed-panel-text-message {
  font-family: Lato !important;
  width: 80%;
  font-size: 14.4px;
  display:inline-block;
  vertical-align: middle;
  margin-left: 5%;
  margin-top: 5%;
  word-break: break-all;
}
#feed-panel-message-date {
  margin-top: -10%;
  margin-left: 105%;
  color: #9b9b9b;
}
#feed-panel-message-time {
  margin-top: -1%;
  margin-left: 109%;
  color: #9b9b9b;
}
/***********************************AVATAR*USER*COMPUTER*/

/***********************************AVATAR*ANOTHER*COMPUTER*/
#feed-panel-another-booble {
  text-align: right;
  position: relative;
  background-color:  #eaedf1;
  border-radius: 2em 0em 2em 2em;
  width: 70%;
  height: 100%;
  margin-left: 18%;
  margin-top: 2%;
  color: #77877b;
  font-family: Montserrat;
}
#another-feed-panel-avatar {
  float: right;
  background-color: #e9e9e9;
  color: #2a4092;;
  margin-top: 0%;
  margin-right: 2%;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(16, 27, 79, 0.21);
}
#feed-panel-text-another-message {
  font-family: Lato !important;
  width: 80%;
  font-size: 14.4px;
  display:inline-block;
  vertical-align: middle;
  margin-right: 10%;
  margin-top: 5%;
  word-break: break-all;
}
#feed-panel-message-another-date {
  float: left;
  margin-top: 5%;
  margin-left: -19%;
  color: #9b9b9b;
}
#feed-panel-message-another-time {
  float: left;
  margin-top: 10%;
  margin-left: -16%;
  color: #9b9b9b;
}
/***********************************AVATAR*ANOTHER*COMPUTER*/

/************************************************************FEED*PANEL*TABLET*CONTAINERS*************************************************/
/***TABLET****************************************************************************************************************/

@media (min-width: 600px) and (max-width: 992px) {

  #feed-card-container {
    float: right;
    width: 424px;
    /* height: 90vh; EFREN */
    margin-top: 1%;
    right: 2%;  
    font-family: Montserrat;
    color: #2a4092;
    padding: 0; 
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #feed-card-image-container {
    width: 424px;
    height: 260px;
    margin-top: -1.5rem;
    margin-left: -1.6rem;
  }

  /*************************************************************************FEED*TABLET*CARD****************/
  /***TABLET***********************************************************************************/
  
  #feed-card-tittle {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    line-height: 2.5em;
    width: 424px;
    height: 40px;
    text-align: center;
    color: #2a4092;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
    margin-top: -1.5rem;
    margin-left: -1.6rem;
  }
  #feed-close-button {
    position: absolute; 
    margin-top: -1.2rem;
    right: -1.5rem;
    background-color: transparent;
    color: #ff0000;
    opacity: 1;
    font-size: 18px;
    border: none;
    z-index: 1;
    border-radius: none;
  }
  #feed-panel-user-name {
    margin-top: -2%;
    margin-left: -24px;
    width: 423px;
    height: 35px;
    line-height: 2;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #2a4092;
    background-color: #eeeeee
  }

  /**************************************************************************FEED*TABLET*ELEMENTS***************/
  /***TABLET***********************************************************************************/
  #feed-list-container {
    margin-top: -5%;
    margin-left: -10%;
    height: calc(100vh - 675px);
   }
  #feed-panel-messages-list {
    overflow-y: auto;
    margin-top: 3%;
    margin-left: 5%;
    width: 100%;
    height: calc(100vh - 710px);
  }
    #feed-form-container {
    margin-bottom: 130px;
  } 
  #panel-feed-container-message-box {
    display: block;
    width: 100%;
    /*EFREN*/
    position: absolute;
    bottom: 110px;
    height: 45px;
    /*EFREN*/
  }
  #feed-input-text {
    margin-top: 0%;
    margin-left: 10%;
    height: 40px;
    width: 95%;
    border-width: 0px 0px 0px 0px !important;
    border-bottom-color: none !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #feed-send-button {
    position: absolute;
    left: 98%;
    margin-top: -8px;
    font-size: 2.5em;
    background-color: transparent;
    border: none;
    color: #2a4092;
  }

/***********************************AVATAR*USER**TABLET*/
#feed-panel-user-booble {
  text-align: left;
	position: relative;
	background:  #2a4092;
  border-radius: 0em 2em 2em 2em;
  width: 70%;
  height: 100%;
  margin-left: 10%;
  margin-top: 2%;
  color: white;
  font-family: Montserrat;
}
#feed-panel-avatar {
  float: left;
  background-color: #e9e9e9;
  color: #2a4092;
  margin-top: 0%;
  margin-left: 0%;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(16, 27, 79, 0.21);
}
#feed-panel-text-message {
  font-family: Lato !important;
  width: 80%;
  font-size: 14.4px;
  display:inline-block;
  vertical-align: middle;
  margin-left: 5%;
  margin-top: 5%;
  word-break: break-all;
}
#feed-panel-message-date {
  margin-top: -10%;
  margin-left: 105%;
  color: #9b9b9b;
}
#feed-panel-message-time {
  margin-top: -1%;
  margin-left: 109%;
  color: #9b9b9b;
}
/***********************************AVATAR*USER*TABLET*/

/***********************************AVATAR*ANOTHER*TABLET*/
#feed-panel-another-booble {
  text-align: right;
  position: relative;
  background-color:  #eaedf1;
  border-radius: 2em 0em 2em 2em;
  width: 70%;
  height: 100%;
  margin-left: 18%;
  margin-top: 2%;
  color: #77877b;
  font-family: Montserrat;
}
#another-feed-panel-avatar {
  float: right;
  background-color: #e9e9e9;
  color: #2a4092;;
  margin-top: 0%;
  margin-right: 2%;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(16, 27, 79, 0.21);
}
#feed-panel-text-another-message {
  font-family: Lato !important;
  width: 80%;
  font-size: 14.4px;
  display:inline-block;
  vertical-align: middle;
  margin-right: 10%;
  margin-top: 5%;
  word-break: break-all;
}
#feed-panel-message-another-date {
  float: left;
  margin-top: 5%;
  margin-left: -19%;
  color: #9b9b9b;
}
#feed-panel-message-another-time {
  float: left;
  margin-top: 10%;
  margin-left: -16%;
  color: #9b9b9b;
}
}
/***********************************AVATAR*ANOTHER*TABLET*/

/************************************************************FEED*PANEL*CONTAINERS*MOBILE*************************************************/
/***MOBILE***************************************************************************************************************/

@media (min-width: 240px) and (max-width: 600px) {

  #feed-card-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    /* height: 100vh; EFREN*/
    top: 40px;
    font-family: Montserrat;
    color: #2a4092;
    padding: 0; 
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }
  #feed-card-image-container {
    width: 100vw;
    height: 200px;
    margin-top: -1.5rem;
    margin-left: -1.5rem;
  }
  #feed-form-container {
    width: 100%;
    margin-left: -14%
  }

  /*************************************************************************FEED*MOBILE*CARD****************/
  /***MOBILE***********************************************************************************/
  
  #feed-card-tittle {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    line-height: 2.2em;
    width: 100vw;
    height: 2rem;
    text-align: center;
    color: #2a4092;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
    margin-top: -1.6rem;
    margin-left: -1.6rem;
  }
  #feed-close-button {
    position: absolute; 
    margin-top: -1.5rem;
    right: -1.5rem;
    background-color: transparent;
    color: #ff0000;
    opacity: 1;
    font-size: 18px;
    border: none;
    z-index: 1;
    border-radius: none;
  }
  #feed-panel-user-name {
    margin-top: -2%;
    /* margin-left: -10%; */
    width: 100vw;
    height: 35px;
    line-height: 2;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #2a4092;
  }

  /**************************************************************************FEED*MOBILE*ELEMENTS***************/
  /***MOBILE****************************************************************************************************/
  
  #feed-list-container {
    margin-top: -5%;
    margin-left: -10%;
   }
  #feed-panel-messages-list {
    margin-top: 3%;
    margin-left: 5%;
    width: 100%;
    height: calc( 80% - 40px);
  }
  #panel-feed-container-message-box {
    display: block;
    width: 88%;
    /*TXEMA*/
    position: fixed;
    bottom: 10px;
    height: 40px;
    /*TXEMA*/
  }
  #feed-input-text {
    margin-top: 0%;
    left: 0%;
    height: 40px;
    width: 95%;
    border-width: 0px 0px 0px 0px !important;
    border-bottom-color: none !important;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #feed-send-button {
    position: absolute;
    left: 98%;
    margin-top: -8px;;
    font-size: 2.5em;
    background-color: transparent;
    border: none;
    color: #2a4092;
  }
  /***********************************AVATAR*USER**MOBILE*/
#feed-panel-user-booble {
  text-align: left;
	position: relative;
	background:  #2a4092;
  border-radius: 0em 2em 2em 2em;
  width: 70%;
  height: 100%;
  margin-left: 12%;
  margin-top: 2%;
  color: white;
  font-family: Montserrat;
}
#feed-panel-avatar {
  float: left;
  background-color: #e9e9e9;
  color: #2a4092;
  margin-top: 0%;
  margin-left: 0%;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(16, 27, 79, 0.21);
}
#feed-panel-text-message {
  font-family: Lato !important;
  width: 80%;
  font-size: 14.4px;
  display:inline-block;
  vertical-align: middle;
  margin-left: 5%;
  margin-top: 5%;
  word-break: break-all;
}
#feed-panel-message-date {
  margin-top: -10%;
  margin-left: 105%;
  color: #9b9b9b;
}
#feed-panel-message-time {
  margin-top: -1%;
  margin-left: 109%;
  color: #9b9b9b;
}
/***********************************AVATAR*USER*MOBILE*/

/***********************************AVATAR*ANOTHER*MOBILE*/
#feed-panel-another-booble {
  text-align: right;
  position: relative;
  background-color:  #eaedf1;
  border-radius: 2em 0em 2em 2em;
  width: 70%;
  height: 100%;
  margin-left: 18%;
  margin-top: 2%;
  color: #77877b;
  font-family: Montserrat;
}
#another-feed-panel-avatar {
  float: right;
  background-color: #e9e9e9;
  color: #2a4092;;
  margin-top: 0%;
  margin-right: 0%;
  font-weight: 600;
  box-shadow: 0 6px 8px 0 rgba(16, 27, 79, 0.21);
}
#feed-panel-text-another-message {
  font-family: Lato !important;
  width: 80%;
  font-size: 14.4px;
  display:inline-block;
  vertical-align: middle;
  margin-right: 10%;
  margin-top: 5%;
  word-break: break-all;
}
#feed-panel-message-another-date {
  float: left;
  margin-top: 5%;
  margin-left: -25%;
  color: #9b9b9b;
}
#feed-panel-message-another-time {
  float: left;
  margin-top: 10%;
  margin-left: -20%;
  color: #9b9b9b;
}
}
/***********************************AVATAR*ANOTHER*MOBILE*/

/*****************************************************DATA*CARD*************************************************/ 

#feed-panel-data-labels {
  font-weight: 500;
  color: #bfc5d2;
  font-size: 9px;
  margin-top: 5%;
} 
#feed-panel-data-fields {
  font-family: Montserrat;
  margin-top: -3%;
  font-weight: 500;
  color: #2a4092;
  font-size: 15px;
  text-align: center;
}

/*****************************************************ALL*VIEWPORTS**********************************************/
/*IPHONE 5SE*/
@media  (width: 320px) and (height: 568px) {
  #panel-feed-container-message-box {
    width: 84%;
  }
  #feed-panel-messages-list{
    max-height: 190px;
  }
}

/*IPHONE 6/7/8*/
@media  (width: 375px) and (height: 667px) {
  #feed-panel-messages-list{
    max-height: 290px;
  }
}

/*IPHONE XS*/
@media  (width: 375px) and (height: 812px) {
  #feed-panel-messages-list{
    height: 440px;
  }
}

/*IPHONE XR*/
@media  (width: 414px) and (height: 896px) {
  #feed-panel-messages-list{
    height: 520px;
  }
}

/*GALAXY NOTE 3*/
@media  (width: 360px) and (height: 640px) {
  #feed-panel-messages-list{
    height: 260px;
  }
}

/*GALAXY NOTE 9*/
@media  (width: 414px) and (height: 846px) {
  #feed-panel-messages-list{
    height: 465px;
  }
}

/*IPAD PRO 10.5"*/
@media  (width: 834px) and (height: 1112px) {
  #feed-panel-messages-list{
    height: 325px;
  }
  #panel-feed-container-message-box {
    bottom: 196px;
    height: 40px;
  }
}

/*KINDLE FIRE HDX*/
@media  (width: 800px) and (height: 1280px) {
  #feed-panel-messages-list{
    height: 325px;
  }
  #panel-feed-container-message-box {
    bottom: 362px;
    height: 40px;
  }
}

/*LG OPTIMUS L70*/
@media  (width: 384px) and (height: 640px) {
  #feed-panel-messages-list{
    height: 260px;
  }
}

/*NEXUS 5*/
@media  (width: 360px) and (height: 640px) {
  #feed-list-container{
    height: 290px;
  }
}
 /*NEXUS 5 CHROME*/
 @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
  @media (width: 360px) and (height: 640px) {
  #feed-list-container{
    height: 195px;
  }
}
}
/*NEXUS 5X*/
@media  (width: 412px) and (height: 732px) {
  #feed-list-container{
    height: 500px;
  }
}

